<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>{{name}},</p>
  <p></p>
  <p>Esta es la confirmacion de que tu contraseña fue cambiada correctamente</p>
  <br />
  <br />
  <p>The Bpublic Support Team</p>
</body>

</html>
