<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>{{name}},</p>
  <br />
  <p>
    Solicitaste un cambio de contraseña en Bpublic platform 
  </p>
  <p>Visita la siguiente url para cambiar la contraseña:</p>
  <p>{{url}}</p>
  <strong>Si tu no solicitaste este cambio ignora este correo</strong>
  <br />
  <br />
  <p>The Bpublic Support Team</p>
</body>

</html>
