<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <img src="{{image}}" alt="">
  <br />
  <p>¡Gracias por donar!</p>
  <br />
  <p>
    Con tu aportación podremos ayudar y cuidar de la salud de nuestros médicos, mientras se encuentran luchando contra el COVID-19. 
  </p>
  <p>Juntos saldremos adelante y con tu solidaridad será mucho más sencillo. </p>
  <p>Te invitamos a compartir nuestra iniciativa y así beneficiar a más médicos. </p>
  <strong>bpublic health</strong>
  <br />
  <strong>#DonaUnKitChallenge  #AyudaAUnDoctor.</strong>
  <br />
  <br />

  <p>Participa en #DonaUnKitChallenge</p>
  <img src="https://cdn.shopify.com/s/files/1/0269/4512/6461/files/templateDD.png?v=1586971624" alt="">
  <a href="https://donativos.doctordescuento.com/" target="_blank">https://donativos.<wbr>doctordescuento.com</a>
</body>

</html>
