<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Gracias por tu Compra</title>
</head>

<body>
  <a href="{{link}}"> <img src="https://cdn.shopify.com/s/files/1/0269/4512/6461/files/citasagendadas.png?v=1587156224" alt=""> </a>
</body>

</html>
