<main id="inicio">
    <div class="content_wrap">
      <div class="section_row">
        <h1>Hola, {{vm.authentication.user.displayName}}</h1>
      </div>

      <!-- <div class="section_row">
        <div class="col1 box">
          <div class="title">Nuevo formulario completado</div>
          <div class="content">
            <div class="span2">
              <h3>Dr. Carlos Ernesto Romero Cortéz</h3>
              <p>Implantologo</p>
              <ul>
                <li>Vendedor: Patricia Gímenez</li>
                <li>Completado: 3 de Octubre</li>
              </ul>

            </div>
            <div class="span2">
              <a href="#" class="button button_alt">Ver formulario</a>
              <a href="#" class="button">Descargar PDF</a>
            </div>
          </div>
        </div>
      </div> -->

      <div class="section_row">

        <div class="col3 box">
          <div class="title">Formularios</div>
          <div class="count">{{vm.customers.length}}</div>
          <div class="description">En total</div>
        </div>

        <div class="col3 box">
          <div class="title">Formularios aprobados</div>
          <div class="count">{{vm.filterApproved().length}}</div>
          <div class="description">Este mes</div>
        </div>

        <div class="col3 box status_incompleto">
          <div class="title">Formularios incompletos</div>
          <div class="count">{{vm.filterIncomplete().length}}</div>
          <div class="description"><a href="#">Revisar pendientes</a></div>
        </div>

      </div>


      <div class="section_row">
        <div class="col3 box">
          <div class="title">Usuarios</div>
          <div class="count">{{vm.users.length}}</div>
          <div class="description">En total</div>
        </div>

        <div class="col2-3 box">
          <div class="title">Usuarios</div>
          <ul class="roles">
            <li><span>{{vm.filterByRole('seller').length}}</span> Vendedores</li>
            <li><span>{{vm.filterByRole('csx').length}}</span> CSX</li>
            <li><span>{{vm.filterByRole('designer').length}}</span> Diseñadores</li>
            <li><span>{{vm.filterByRole('marketing').length}}</span> Marketing</li>
            <li><span>{{vm.filterByRole('copy').length}}</span> Copy</li>
          </ul>
          <div class="description"><a href="#">Agregar nuevo usuario</a></div>
        </div>
      </div>
    </div>
</main>
