<section>
  <div class="page-header">
    <h1>Doctors</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="doctor in vm.doctors" ui-sref="doctors.view({ doctorId: doctor._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="doctor.created | date:'mediumDate'"></span>
        by
        <span ng-if="doctor.user" ng-bind="doctor.user.displayName"></span>
        <span ng-if="!doctor.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="doctor.title"></h4>
      <p class="list-group-item-text" ng-bind="doctor.content"></p>
    </a>
  </div>
</section>
