<!-- <section> -->
  <!-- <div class="page-header">
    <h1>{{vm.customer._id ? 'Edit Customer' : 'New Customer'}}</h1>
  </div> -->
  <!-- <div class="pull-right">
    <a ng-show="vm.customer._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div> -->
  <!-- <div class="col-md-12">
    <form name="vm.form.customerForm" class="form-horizontal" ng-submit="vm.save(vm.form.customerForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.customer.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.customerForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.customer.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.customer._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div> -->
<!-- </section> -->

<header class="the_form">
    <div class="content_wrap">
      <div class="current_progress">
        <div class="progress_circle progress_circle_alt" data-progress="{{vm.formCalculationAdvance()}}"></div>
      </div>

      <div class="current_step">
        <ul class="progress_steps">
          <li class="active">Landing page</li>
          <li ng-class="{'active':vm.formView==2||vm.formView==3}">Datos complementarios</li>
          <li ng-class="{'active':vm.formView==3}">Finalizar</li>
        </ul>
      </div>

      <div class="save_submit">
        <button class="button" ng-click="vm.save()">Guardar</button>
        <button ng-click="vm.save();vm.formView=3;" class="button" ng-class="{'button_muted':vm.formCalculationAdvance()<=100}">Finalizar</button>
      </div>
    </div>
  </header>



  
  <div ng-show="vm.formView==1">
    <div id="formulario_paso_1">
      <div class="content_wrap">

    <div class="col2">
        <form>
          <fieldset name="landing_page">
            <legend>Landing Page</legend>
              <div class="row">
                <div class="col5">
                  <label for="titulo">Título</label>
                  <select ng-model="vm.customer.title" name="titulo" id="titulo">
                    <option ng-repeat="title in vm.titles" value="{{title}}">{{title}}</option>
                  </select>
                </div>
                <div class="col2-5">
                  <label for="nombres">Nombres</label>
                  <input ng-model="vm.customer.name" type="text" name="nombres" id="nombres" placeholder="Escribe tus nombres" />
                </div>
                <div class="col2-5">
                  <label for="apellidos">Apellidos</label>
                  <input ng-model="vm.customer.lastName"type="text" name="apellidos" id="apellidos" placeholder="Escribe tus apellidos" />
                </div>
              </div>
          </fieldset>



          <fieldset name="personalizacion_landing_page">
            <legend>Personalización de landing page</legend>
            <div class="row">
              <div class="col2">
                <label for="color">Color</label>
                    <div class="preview preview_color"><span ng-class="vm.customer.colorBackground" class="selected selected_color"></span></div>
                    <label class="input_color"><input ng-model="vm.customer.colorBackground" type="radio" name="color" value="azul" checked></label>
                    <label class="input_color"><input ng-model="vm.customer.colorBackground" type="radio" name="color" value="verde"></label>
                    <label class="input_color"><input ng-model="vm.customer.colorBackground" type="radio" name="color" value="morado"></label>
                    <label class="input_color"><input ng-model="vm.customer.colorBackground" type="radio" name="color" value="cyan"></label>
                    <label class="input_color"><input ng-model="vm.customer.colorBackground" type="radio" name="color" value="aqua"></label>
                    <label class="input_color"><input ng-model="vm.customer.colorBackground" type="radio" name="color" value="rosa"></label>
              </div>

              <div class="col2">
                <label for="fuente">Fuente</label>
                <div class="preview preview_font"><span ng-class="vm.customer.font" class="selected selected_font">Aa</span></div>
                  <select ng-model="vm.customer.font" name="fuente" id="fuente">
                    <option ng-repeat="font in vm.fonts" value="{{font}}">{{font}}</option>
                  </select>
              </div>
            </div>

             <div class="row">
                <div class="col1">
                  <label for="declaracion_profesional">Declaración profesional</label>
                  <textarea ng-model="vm.customer.professionalInsight" name="declaracion_profesional" id="declaracion_profesional" placeholder="Ejemplo: Yo creo que los pacientes siempre deben de salir felices de cada consulta, que se vayan sin ninguna duda, etc." maxlength="350"></textarea>
                  <span class="count_limit">{{vm.customer.professionalInsight ? vm.customer.professionalInsight.length : 0 }} / 350</span>
                </div>
               </div>


          </fieldset>



          <fieldset name="informacion_profesional">
            <legend>Información Profesional</legend>
              <div class="row">
                <div class="col2">
                  <label for="universidad">Universidad</label>
                  <input ng-model="vm.customer.university"type="text" name="universidad" id="universidad" placeholder="Institución que emitió tu título" />
                </div>
                <div class="col2">
                  <label for="cedula_profesional">Cédula Profesional</label>
                  <input ng-model="vm.customer.professionalId"type="text" name="cedula_profesional" id="cedula_profesional" placeholder="UNAM 47889" />
                </div>
              </div>

              <div class="row">
                <div class="col2">
                  <label for="especialidad">Especialidad</label>
                  <input ng-model="vm.customer.specialty" type="text" name="especialidad" id="especialidad" list="lista_especialidades" placeholder="Escribe tu especialidad" />
                    <!-- <datalist id="lista_especialidades">
                      <option value="Bariatra">
                      <option value="Coloproctólogo">
                      <option value="Audiólogo">
                    </datalist> -->
                </div>
                <div class="col2">
                  <label for="cedula_profesional_especialidad">Céd. prof. de especialidad</label>
                  <input ng-model="vm.customer.specialtyProfessionalId" type="text" name="cedula_profesional_especialidad" id="cedula_profesional_especialidad" placeholder="UNAM 47889" />
                </div>
              </div>

              <div class="row">
                <div class="col1">
                  <label for="especialidad">Describe tu especialidad</label>
                  <textarea ng-model="vm.customer.specialtyDescription" name="especialidad" id="especialidad" placeholder="Ejemplo: Yo creo que los pacientes siempre deben de salir felices de cada consulta, que se vayan sin ninguna duda, etc." maxlength="350"></textarea>
                  <span class="count_limit">{{vm.customer.specialtyDescription ? vm.customer.specialtyDescription.length : 0 }} / 350</span>
                </div>
              </div>

              <div class="row">
                <div class="col1">
                  <label for="servicio_1">Servicio a promocionar</label>
                    <!-- <label class="input_radio"><input type="radio" name="serv_1" value="1" checked><span>Implante dental</span></label>
                    <label class="input_radio"><input type="radio" name="serv_1" value="2"><span>Implante dental</span></label>
                    <label class="input_radio"><input type="radio" name="serv_1" value="3"><span>Implante dental</span></label>  -->
                    <input ng-model="vm.service1.name" type="text" name="Servicio" id="servicio1" placeholder="Implantes dentales" />

                </div>
              </div>

              <div class="row">
                <div class="col1">
                  <label for="describe_servicio_1">Describe ese servicio</label>
                  <textarea ng-model="vm.service1.description" name="describe_servicio_1" id="describe_servicio_1" placeholder="" maxlength="350"></textarea>
                  <span class="count_limit">{{vm.service1.description ? vm.service1.description.length : 0 }}/ 350</span>
                </div>
              </div>


              <div class="row">
                <div class="col1">
                  <label for="servicio_2">Servicio a promocionar</label>
                    <!-- <label class="input_checkbox"><input type="checkbox" name="serv_2" value="1" checked><span>Implante dental</span></label>
                    <label class="input_checkbox"><input type="checkbox" name="serv_2" value="2"><span>Implante dental</span></label>
                    <label class="input_checkbox"><input type="checkbox" name="serv_2" value="3"><span>Implante dental</span></label>  -->
                    <input ng-model="vm.service2.name" type="text" name="Servicio" id="servicio2" placeholder="Implantes dentales" />

                </div>
              </div>

              <div class="row">
                <div class="col1">
                  <label for="describe_servicio_2">Describe ese servicio</label>
                  <textarea ng-model="vm.service2.description" name="describe_servicio_2" id="describe_servicio_2" placeholder="" maxlength="350"></textarea>
                  <span class="count_limit">{{vm.service2.description?vm.service2.description.length : 0 }} / 350</span>
                </div>
              </div>




               <div class="row">
                <div class="col2">
                  <label for="otros_servicios">Otros servicios </label>
                  <textarea ng-change="vm.serviceWords=vm.countOf(vm.service)"ng-model="vm.service" name="otros_servicios" id="otros_servicios" placeholder="Agrega un estudio, curso o diplomado" maxlength="350"></textarea>
                  <span class="count_limit">{{vm.serviceWords ? vm.serviceWords : 0}} / 5</span>
                  <button ng-show="vm.serviceWords<6" ng-click="vm.addItemToList(vm.service,vm.customer.otherServices);vm.service=''" class="add_item can_add"></button>
                </div>
                <div class="col2">
                  <ul class="added_list">
                    <li ng-repeat="service in vm.customer.otherServices track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.otherServices,$index)" class="close">x</span>{{service}}</li>
                  </ul>
                </div>
              </div>



              <div class="row">
                <div class="col2">
                  <label for="educacion">Educación </label>
                  <textarea ng-change="vm.educationWords=vm.countOf(vm.education)" ng-model="vm.education"name="educacion" id="educacion" placeholder="Agrega un estudio, curso o diplomado" maxlength="350"></textarea>
                  <span class="count_limit">{{vm.educationWords ? vm.educationWords : 0}}  / 5</span>
                  <button ng-show="vm.educationWords<6" ng-click="vm.addItemToList(vm.education, vm.customer.educations);vm.education=''" class="add_item can_add"></button>
                </div>
                <div class="col2">
                  <ul class="added_list">
                    <li ng-repeat="education in vm.customer.educations track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.educations,$index)"class="close">x</span>{{education}}</li>
                  </ul>
                </div>
              </div>


          </fieldset>
          <fieldset name="consultorio">
            <legend>Consultorio</legend>
              <div class="row">
                <div class="col2">

                  <label for="promocion">Promoción Primera Cita</label>
                  <select ng-model="vm.customer.promotion" name="porcentaje" id="porcentaje">
                    <option ng-repeat="promotion in vm.promotions" value="{{promotion}}">{{promotion}}</option>
                    <!-- <option value="20%">20%</option> -->

                  </select>

                  <!-- <select name="promocion" id="promocion">
                    <option value="1">Primera consulta</option>
                    <option value="2">Primera consulta</option>
                  </select> -->

                </div>
                <div class="col2"></div>
              </div>

              <div class="row">
                <div class="col2">
                  <label for="nombre_consultorio">Nombre del consultorio</label>
                  <input ng-model="vm.customer.officeName"type="text" name="nombre_consultorio" id="nombre_consultorio" placeholder="Ejemplo: Virginia médica" />
                </div>
                <div class="col2">
                  <label for="piso_numero">Piso / Número de consultorio</label>
                  <input ng-model="vm.customer.officeData" type="text" name="piso_numero" id="piso_numero" placeholder="Ejemplo: Piso 2 / Cons. 205" />
                </div>
              </div>


              <div class="row">
                <div class="col1">
                  <label for="direccion">Dirección</label>
                  <input ng-model="vm.customer.officeAddress"type="text" name="direccion" id="direccion" placeholder="" />
                  <!-- <button class="get_location" onclick="getLocation()"></button> -->
                </div>
              </div>

              <!-- <div class="row">
                <div class="col1">
                  <div id="map_draggable">
                    <iframe width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-99.17807936668397%2C19.40601923574313%2C-99.16391730308534%2C19.415187069294213&amp;layer=transportmap&amp;marker=19.410603217130483%2C-99.17099833488464"></iframe>
                  </div>
                </div>
              </div> -->

              <div class="row">
                <div class="col1">
                  <label for="horario">Horario</label>


                  <div class="new_schedule" ng-repeat="schedule in vm.customer.timeTable track by $index">

                    <select ng-model="schedule.day" name="semana" id="semana" class="semana">
                      <option ng-repeat="day in vm.days" value="{{day}}">{{day}}</option>
                     </select>

                    <div class="hora">
                      <div uib-timepicker ng-model="schedule.start"  show-meridian="true"></div>

                      <!-- <input ng-model="schedule.start" type="time" name="de_horario" id="de_horario" class="horario" /> -->
                      <!-- <select ng-model="schedule.startAmpm" name="ampm" id="ampm" class="periodo">
                        <option ng-repeat="ampm in vm.ampms" value="{{ampm}}">{{ampm}}</option>
                      </select> -->
                    </div>

                    <div class="hora">
                      <div uib-timepicker ng-model="schedule.end"  show-meridian="true"></div>

                      <!-- <input ng-model="schedule.end"  type="time" name="de_horario" id="a_horario" class="horario"/>
                      <select ng-model="schedule.endAmpm" name="ampm" id="ampm" class="periodo">
                        <option ng-repeat="ampm in vm.ampms" value="{{ampm}}">{{ampm}}</option>
                      </select> -->
                    </div>

                    <div class="acciones">
                      <button ng-click="vm.addSchedule()"class="add_hour">+</button>
                      <button ng-show="vm.customer.timeTable.length > 1" ng-click="vm.remove(vm.customer.timeTable,$index)"class="delete_hour">x</button>

                    </div>
                  </div>
                </div>
              </div>

          </fieldset>

          <fieldset name="archivos">
            <!-- <legend>Archivos</legend>
            <div class="row">
              <div class="col1">
                <label for="fotografias">Fotografía de perfil, práctica y consultorio
                  <div class="tooltip_hint"><span class="content_hint"><img src="/modules/core/client/img/test_image_lineamientos.png"></span></div>
                </label>
                <input type="file" name="fotografias" id="fotografias" multiple />
                <div class="drag_drop drag_drop_image">
                  <div class="help">
                    <span class="title"><a href="#">Sube fotografías</a> o arrastralas aquí. </span>
                    <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
                  </div>
                  <div class="upload"><span class="meter"></span></div>
                </div>
                 <div class="preview preview_image can_delete">
                  <span class="selected selected_image" style="background-image:url(images/test_image_1.png);"></span>
                  <span class="close"></span>
                </div>

              </div>
            </div> -->

            <legend>Archivos</legend>



        <!--- Begin File Upload -->
            <div class="row">
              <div class="col1 upload-file">
                <label for="fotografias">Fotografía de perfil, práctica y consultorio
                  <div class="tooltip_hint"><span class="content_hint"><img src="/modules/core/client/img/test_image_lineamientos.png"></span></div>
                </label>


            <div ng-show="vm.fileSelected" class=" form-group">
              <div class="drag_drop drag_drop_image drag_drop_uploading">

                <div ng-show="vm.fileSelected" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
                    <span class="sr-only">{{vm.progress}}% Completado</span>
                  </div>
                </div>

                <button class="btn btn-primary" ng-click="vm.upload(picFile, 'image1')">Subir</button>
                <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>

              </div>
            </div>


            <div class="drag_drop drag_drop_image" ng-show="!vm.fileSelected">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto principal</button>

              <div class="help">
                <span class="title"><a href="#">Selecciona tu fotografía aquí</a></span>
                <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
              </div>
            </div>

            <div class="preview preview_image can_delete">
                <span class="selected selected_image">
                  <img ngf-src="vm.fileSelected ? picFile : vm.customer.image1"  class="img-thumbnail user-profile-picture" ngf-drop>
                </span>
            </div>

            </div>
          </div>
        <!--- End File Upload -->





        <!--- Begin File Upload -->
            <div class="row">
              <div class="col1 upload-file">
                <label for="fotografias">Fotografía de Especialidad</label>


            <div ng-show="vm.fileSelected2" class=" form-group">
              <div class="drag_drop drag_drop_image drag_drop_uploading">

                <div ng-show="vm.fileSelected2" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress2}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress2}}%" ng-bind="vm.progress2 + '%'">
                    <span class="sr-only">{{vm.progress2}}% Completado</span>
                  </div>
                </div>

                <button class="btn btn-primary" ng-click="vm.upload(picFile2, 'image2')">Subir</button>
                <button class="btn btn-default" ng-click="vm.fileSelected2 = false">Cancel</button>

              </div>
            </div>


            <div class="drag_drop drag_drop_image" ng-show="!vm.fileSelected2">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected2 = true) && (vm.loading2 = false)" ng-model="picFile2" accept="image/*" ngf-before-model-change="vm.loading2 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto de Especialidad</button>

              <div class="help">
                <span class="title"><a href="#">Selecciona tu fotografía aquí</a></span>
                <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
              </div>
            </div>

            <div class="preview preview_image can_delete">
                <span class="selected selected_image">
                  <img ngf-src="vm.fileSelected2 ? picFile2 : vm.customer.image2"  class="img-thumbnail user-profile-picture" ngf-drop>
                </span>
            </div>

            </div>
          </div>
        <!--- End File Upload -->



         <!--- Begin File Upload -->
            <div class="row">
              <div class="col1 upload-file">
                <label for="fotografias">Fotografía del Primer Sevicio</label>


            <div ng-show="vm.fileSelected3" class=" form-group">
              <div class="drag_drop drag_drop_image drag_drop_uploading">

                <div ng-show="vm.fileSelected3" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress3}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress3}}%" ng-bind="vm.progress3 + '%'">
                    <span class="sr-only">{{vm.progress3}}% Completado</span>
                  </div>
                </div>

                <button class="btn btn-primary" ng-click="vm.upload(picFile3, 'image3')">Subir</button>
                <button class="btn btn-default" ng-click="vm.fileSelected3 = false">Cancel</button>

              </div>
            </div>


            <div class="drag_drop drag_drop_image" ng-show="!vm.fileSelected3">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected3 = true) && (vm.loading3 = false)" ng-model="picFile3" accept="image/*" ngf-before-model-change="vm.loading3 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto de Especialidad</button>

              <div class="help">
                <span class="title"><a href="#">Selecciona tu fotografía aquí</a></span>
                <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
              </div>
            </div>

            <div class="preview preview_image can_delete">
                <span class="selected selected_image">
                  <img ngf-src="vm.fileSelected3 ? picFile3 : vm.customer.image3"  class="img-thumbnail user-profile-picture" ngf-drop>
                </span>
            </div>

            </div>
          </div>
        <!--- End File Upload -->




        <!--- Begin File Upload -->
            <div class="row">
              <div class="col1 upload-file">
                <label for="fotografias">Fotografía del Segundo Sevicio</label>


            <div ng-show="vm.fileSelected4" class=" form-group">
              <div class="drag_drop drag_drop_image drag_drop_uploading">

                <div ng-show="vm.fileSelected4" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress4}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress4}}%" ng-bind="vm.progress4 + '%'">
                    <span class="sr-only">{{vm.progress4}}% Completado</span>
                  </div>
                </div>

                <button class="btn btn-primary" ng-click="vm.upload(picFile4, 'image4')">Subir</button>
                <button class="btn btn-default" ng-click="vm.fileSelected4 = false">Cancel</button>

              </div>
            </div>


            <div class="drag_drop drag_drop_image" ng-show="!vm.fileSelected4">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected4 = true) && (vm.loading4 = false)" ng-model="picFile4" accept="image/*" ngf-before-model-change="vm.loading4 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto de Especialidad</button>

              <div class="help">
                <span class="title"><a href="#">Selecciona tu fotografía aquí</a></span>
                <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
              </div>
            </div>

            <div class="preview preview_image can_delete">
                <span class="selected selected_image">
                  <img ngf-src="vm.fileSelected4 ? picFile4 : vm.customer.image4"  class="img-thumbnail user-profile-picture" ngf-drop>
                </span>
            </div>

            </div>
          </div>
        <!--- End File Upload -->




        <!--- Begin File Upload -->
            <div class="row">
              <div class="col1 upload-file">
                <label for="fotografias">Fotografía de otros Sevicios</label>


            <div ng-show="vm.fileSelected5" class=" form-group">
              <div class="drag_drop drag_drop_image drag_drop_uploading">

                <div ng-show="vm.fileSelected5" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress5}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress5}}%" ng-bind="vm.progress5 + '%'">
                    <span class="sr-only">{{vm.progress5}}% Completado</span>
                  </div>
                </div>

                <button class="btn btn-primary" ng-click="vm.upload(picFile5, 'image5')">Subir</button>
                <button class="btn btn-default" ng-click="vm.fileSelected5 = false">Cancel</button>

              </div>
            </div>


            <div class="drag_drop drag_drop_image" ng-show="!vm.fileSelected5">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected5 = true) && (vm.loading5 = false)" ng-model="picFile5" accept="image/*" ngf-before-model-change="vm.loading5 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto de Especialidad</button>

              <div class="help">
                <span class="title"><a href="#">Selecciona tu fotografía aquí</a></span>
                <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
              </div>
            </div>

            <div class="preview preview_image can_delete">
                <span class="selected selected_image">
                  <img ngf-src="vm.fileSelected5 ? picFile5 : vm.customer.image5"  class="img-thumbnail user-profile-picture" ngf-drop>
                </span>
            </div>

            </div>
          </div>
        <!--- End File Upload -->






        <!--
            <img ngf-src="vm.fileSelected2 ? picFile2 : vm.customer.image2"  class="img-thumbnail user-profile-picture" ngf-drop>
            <div ng-show="!vm.fileSelected2" class=" form-group">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected2 = true) && (vm.loading2 = false)" ng-model="picFile2" accept="image/*" ngf-before-model-change="vm.loading2 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para servicio 1</button>
            </div>
            <div ng-show="vm.fileSelected2" class=" form-group">
              <button class="btn btn-primary" ng-click="vm.upload(picFile2, 'image2')">Subir</button>
              <button class="btn btn-default" ng-click="vm.fileSelected2 = false">Cancel</button>
            </div>
            <div ng-show="vm.fileSelected2" class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress2}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress2}}%" ng-bind="vm.progress2 + '%'">
                <span class="sr-only">{{vm.progress2}}% Completado</span>
              </div>
            </div>

            <img ngf-src="vm.fileSelected3 ? picFile3 : vm.customer.image3"  class="img-thumbnail user-profile-picture" ngf-drop>
            <div ng-show="!vm.fileSelected3" class=" form-group">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected3= true) && (vm.loading3 = false)" ng-model="picFile3" accept="image/*" ngf-before-model-change="vm.loading3 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para servicio 2</button>
            </div>
            <div ng-show="vm.fileSelected3" class=" form-group">
              <button class="btn btn-primary" ng-click="vm.upload(picFile3, 'image3')">Subir</button>
              <button class="btn btn-default" ng-click="vm.fileSelected3 = false">Cancel</button>
            </div>
            <div ng-show="vm.fileSelected3" class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress3}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress3}}%" ng-bind="vm.progress3 + '%'">
                <span class="sr-only">{{vm.progress3}}% Completado</span>
              </div>
            </div>

            <img ngf-src="vm.fileSelected4 ? picFile4 : vm.customer.image4"  class="img-thumbnail user-profile-picture" ngf-drop>
            <div ng-show="!vm.fileSelected4" class=" form-group">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected4 = true) && (vm.loading4 = false)" ng-model="picFile4" accept="image/*" ngf-before-model-change="vm.loading4 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para servicio 3</button>
            </div>
            <div ng-show="vm.fileSelected4" class=" form-group">
              <button class="btn btn-primary" ng-click="vm.upload(picFile4, 'image4')">Subir</button>
              <button class="btn btn-default" ng-click="vm.fileSelected4 = false">Cancel</button>
            </div>
            <div ng-show="vm.fileSelected4" class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress4}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress4}}%" ng-bind="vm.progress4 + '%'">
                <span class="sr-only">{{vm.progress4}}% Completado</span>
              </div>
            </div>

            <img ngf-src="vm.fileSelected5 ? picFile5 : vm.customer.image5"  class="img-thumbnail user-profile-picture" ngf-drop>
            <div ng-show="!vm.fileSelected5" class=" form-group">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected5 = true) && (vm.loading5 = false)" ng-model="picFile5" accept="image/*" ngf-before-model-change="vm.loading5 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para seccion de otros servicios</button>
            </div>
            <div ng-show="vm.fileSelected5" class=" form-group">
              <button class="btn btn-primary" ng-click="vm.upload(picFile5, 'image5')">Subir</button>
              <button class="btn btn-default" ng-click="vm.fileSelected5 = false">Cancel</button>
            </div>
            <div ng-show="vm.fileSelected5" class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress5}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress5}}%" ng-bind="vm.progress5 + '%'">
                <span class="sr-only">{{vm.progress5}}% Completado</span>
              </div>
            </div> 
        -->


          </fieldset>

          <div class="row submit_step">
            <div class="col1">
              <button type="button" class="button" ng-click="vm.save();vm.formView=2">Siguiente</button>
            </div>
          </div>


        </form>
    </div>

    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="col2">

      <div class="preview_landingpage">
        <!-- Header -->
        <div class="section">
          <div class="header">
            <div class="content_wrap">
              <div class="header_text">
                <div class="title"><a href="#">{{vm.customer.title}} {{vm.customer.name}} {{vm.customer.lastName}}</a></div>
                <div class="subtitle"><a href="#">{{vm.customer.specialty}}</a></div>
              </div>
              <div class="header_cta">
                <button type="button" class="button">Llamar</button>
                <button type="button" class="button">Agendar cita</button>
              </div>
            </div>
          </div>
         </div>

         <!-- Cover -->
         <div class="section">
           <div ng-class="vm.customer.colorBackground" class="cover">
             <div class="content_wrap">
              <div class="wrap_text">
                <div class="title"><a href="#">Experto en {{vm.service1.name}}</a></div>
                <div class="description"><a href="#">{{vm.customer.specialtyDescription}}</a></div>
              </div>
             </div>
           </div>
         </div>



         <!-- Cover cédula -->
         <div class="section">
           <div class="cover_cedula">
             <div class="content_wrap">
              <div class="wrap_ced">
                <ul>
                  <li><a href="#"><strong>Céd. Prof</strong> {{vm.customer.professionalId}}</a></li>
                  <li><a href="#"><strong>Céd. Esp.</strong> {{vm.customer.specialtyProfessionalId}}</a></li>
                </ul>
              </div>
              <div class="wrap_img">
                <a href="#"><img ngf-src="vm.customer.image1 ? vm.customer.image1 : '/modules/core/client/img/lp/dr_transparent.png'" /></a>
              </div>
             </div>
           </div>
         </div>


         <!-- Promoción -->
         <div class="section">
           <div class="promocion">
             <div class="content_wrap">
              <img src="/modules/core/client/img/lp/promocion.svg" />
              <div class="title">Promocion</div>
              <div class="description">
                <a href="#">Aprovecha de un <strong>20% de descuento</strong> en tu primer consulta, sólo realiza una llamada o agenda en línea.</a>
              </div>
             </div>
           </div>
         </div>


         <!-- Agenda -->
         <div class="section">
           <div class="agenda">
             <div class="content_wrap">
              <div class="title">Agenda tu cita en línea</div>
              <img src="/modules/core/client/img/lp/agenda.png" />
             </div>
           </div>
         </div>



         <!-- Servicios -->
         <div class="section">
           <div class="servicios">
             <div class="content_wrap">

              <div class="col2">
                <div class="title"><a href="#">{{vm.customer.specialty}}</a></div>
                <div class="description"><a href="#">{{vm.customer.specialtyDescription}} </a></div>
                <a href="#"><img ngf-src="vm.customer.image2 ? vm.customer.image2 : '/modules/core/client/img/lp/img_2.png'" /></a>
              </div>

              <div class="col2">
                <div class="title"><a href="#">{{vm.service2.name}}</a></div>
                <div class="description"><a href="#"> {{vm.service2.description}}</a></div>
                <a href="#"><img ngf-src="vm.customer.image3 ? vm.customer.image3 : '/modules/core/client/img/lp/img_2.png'" /></a>
              </div>

             </div>

             <div class="content_wrap">

              <div class="col2">
                <div class="title"><a href="#">{{vm.service3.name}}</a></div>
                <div class="description"><a href="#">{{vm.service3.description}}</a></div>
                <a href="#"><img ngf-src="vm.customer.image4 ? vm.customer.image4 : '/modules/core/client/img/lp/img_3.png'" /></a>
              </div>

              <div class="col2">
                <div class="title">Visitanos si padeces de:</div>
                <div class="description"><ul>
                <a href="#">
                <li ng-repeat="service in vm.customer.otherServices track by $index">{{service}}</li>

                </a>
              </ul></div>
                <a href="#"><img ngf-src="vm.customer.image5 ? vm.customer.image5 : '/modules/core/client/img/lp/img_4.png'" /></a>
              </div>

             </div>

           </div>
         </div>



         <!-- Mas información -->
         <div class="section">
           <div class="mas_informacion">
             <div class="content_wrap">
              <div class="col2">
                <div class="title">¿Quiéres más información?</div>
                <div class="description">Dejános tus datos y tu mensaje para que el equipo de soporte coordine tu visita.</div>
              </div>

              <div class="col2">
                <span class="semi_input">Nombre*</span>
                <span class="semi_input">Teléfono*</span>
                <span class="semi_input">Mail*</span>
                <span class="semi_input">Mensaje*</span>
                <span class="semi_submit">Escríbenos</span>
              </div>

             </div>
           </div>
         </div>




         <!-- Agenda -->
         <div class="section">
           <div class="educacion">
             <div class="content_wrap">
              <div class="title">Educación</div>
              <div class="description">
                <a href="#">{{vm.customer.professionalInsight}}</a>
              </div>
              <ul>
                <a href="#">
                <li ng-repeat="education in vm.customer.educations track by $index">{{education}}</li>

                </a>
              </ul>
             </div>
           </div>
         </div>


         <!-- Contáctanos -->
         <div class="section">
           <div class="contactanos">
             <div class="content_wrap">
              <div class="col2">
                <div class="title">Contáctanos</div>
                <ul>
                  <li><a href="#"><img src="/modules/core/client/img/lp/lugar.png" />
                   {{vm.customer.oficeName}} {{vm.customer.officeData}} {{vm.customer.address}}</a></li>
                  <li><a href="#"><img src="/modules/core/client/img/lp/horario.svg" />
                    Lunes a viernes de 9:00 a.m. a 2:00 p.m. <br/>y 4:00 a 8:00 p.m.
                    Sábados de 9:00 a.m. a 2:00 p.m.</a></li>
                  </li>
                  <li><a href="#"><img src="/modules/core/client/img/lp/tel.svg" />
                  (55) 66519471</a></li>
                </ul>
              </div>

              <div class="col2">
                <a href="#"><iframe width="300" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-99.17807936668397%2C19.40601923574313%2C-99.16391730308534%2C19.415187069294213&amp;layer=transportmap&amp;marker=19.410603217130483%2C-99.17099833488464"></iframe></a>
              </div>

             </div>
           </div>
         </div>

         <!-- Creditos -->
         <div class="section">
           <div class="creditos">
             <div class="content_wrap">
              <div class="description">
                Developed by © 2019 bpublic_health all rights reserved. <br/>Aviso de privacidad.
              </div>
             </div>
           </div>
         </div>





      </div>
    </div>
  </div>
</div>
</div>



  <!-- section 2  -->
  <div ng-show="vm.formView==2">

    <div id="formulario_paso_2">
      <div class="content_wrap">

  <form>


    <fieldset name="informacion_personal">
      <legend><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="51"></div> Informaión personal</legend>
        <div class="row">
          <div class="col3">
            <label for="email">Correo Electrónico</label>
            <input ng-model="vm.customer.email" type="email" name="email" id="email" placeholder="@.com" />
          </div>
          <div class="col3">
            <label for="tel">Teléfono</label>
            <input ng-model="vm.customer.phone"type="tel" name="tel" id="tel" placeholder="" />
          </div>
          <div class="col3">
            <label for="cel">Celular</label>
            <input ng-model="vm.customer.mobile" type="tel" name="tel" id="tel" placeholder="" />
          </div>
        </div>

        <div class="row">
          <div class="col2">
            <label for="facebook">Facebook</label>
            <div class="prefix">
              <span>facebook.com/</span>
              <input ng-model="vm.customer.facebook" type="text" name="facebook" id="facebook" placeholder="" />
            </div>
          </div>
        </div>
    </fieldset>



    <fieldset name="informacion_consulta">
      <legend><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="20"></div> Informaión de consulta</legend>
        <div class="row">
          <div class="col3">
            <label for="tel_consult">Teléfono del consultorio</label>
            <input ng-model="vm.customer.officePhone" type="tel" name="tel" id="tel" placeholder="" />
          </div>
          <div class="col6">
            <label for="tel_ext">Extension</label>
            <input ng-model="vm.customer.extension" type="tel" name="tel_ext" id="tel_xt" placeholder="" />
          </div>
          <div class="col3">
              <label for="otro_consultorio">¿Trabajas en otro consultorio?</label>
              <label class="input_switch"><input ng-model="vm.customer.workInOtherOffice" type="checkbox" name="otro_consultorio" value="1"><span></span></label>
          </div>
        </div>
        <div class="row" uib-collapse="!vm.customer.workInOtherOffice">
          <div class="col2">
            <label for="nombre_consultorio">Nombre del consultorio</label>
            <input ng-model="vm.customer.otherOfficeName"type="text" name="nombre_consultorio" id="nombre_consultorio" placeholder="Ejemplo: Virginia médica" />
          </div>
          <div class="col3">
            <label for="piso_numero">Piso / Número de consultorio</label>
            <input ng-model="vm.customer.otherOfficeData" type="text" name="piso_numero" id="piso_numero" placeholder="Ejemplo: Piso 2 / Cons. 205" />
          </div>
          <div class="col2">
            <label for="direccion">Dirección</label>
            <input ng-model="vm.customer.otherOfficeAddress"type="text" name="direccion" id="direccion" placeholder="" />
            <!-- <button class="get_location" onclick="getLocation()"></button> -->
          </div>
        </div>



        <div class="row">
          <div class="col3">
            <label for="precio_consulta">Precio de consulta</label>
            <div class="prefix">
              <span>$</span>
              <input ng-model="vm.customer.costsOfConsultation" type="number" name="precio_consulta" id="precio_consulta" placeholder="500" step="50" />
            </div>
          </div>
          <div class="col2-3">
            <label for="que_incluye">¿Qué incluye la consulta?</label>
            <textarea ng-model="vm.customer.descriptionOfConsultation" name="que_incluye" id="que_incluye" placeholder="Chequeo completo de rutina, receta digital / impresa" maxlength="350"></textarea>
            <span class="count_limit">0 / 350</span>
          </div>
        </div>
    </fieldset>







    <fieldset name="informacion_curricular">
      <legend><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="78"></div> Información Curricular</legend>

        <div class="row">
          <div class="col1">
            <label for="acerca">Acerca de ti.</label>
            <textarea name="acerca" id="acerca" ng-model="vm.customer.aboutYou" placeholder="¿Por que decidiste estudiar medicina?¿Que es lo que mas disfrutas de tu trabajo? ¿Que tipo de persona eres? etc." maxlength="350"></textarea>
            <span class="count_limit">0 / 350</span>
          </div>
        </div>

        <div class="row">
          <div class="col2">
            <label for="habilidades">Logros o cursos (mín 4).</label>
              <textarea ng-change="vm.achievementWords=vm.countOf(vm.achievement)" ng-model="vm.achievement" name="habilidades" id="habilidades" placeholder="Ejemplo: Reconocido como uno de los mejores residentes de especialidad por el Presidente Carlos Salinas de Gortari." maxlength="120"></textarea>
              <span class="count_limit">{{vm.achievementWords ? vm.achievementWords : 0}}  / 6</span>
            <button ng-show="vm.achievementWords<7" ng-click="vm.addItemToList(vm.achievement,vm.customer.achievements);vm.achievement=''"class="add_item can_add"></button>
          </div>
          <div class="col2">
            <ul class="added_list">
              <li ng-repeat="achievement in vm.customer.achievements track by $index"  class="can_delete"><span ng-click="vm.remove(vm.customer.achievements,$index)" class="close">x</span>{{achievement}}</li>
            </ul>
          </div>
        </div>



        <div class="row">
          <div class="col2">
            <label for="procedimientos">Procedimientos y su costo (mín. 5).</label>
              <textarea ng-change="vm.processWords=vm.countOf(vm.process)" ng-model="vm.process"  name="procedimientos" id="procedimientos" placeholder="Ejemplo: Endoscopia $7,000.00." maxlength="60"></textarea>
              <span class="count_limit">{{vm.processWords ? vm.processWords : 0}} / 6</span>
            <button ng-show="vm.processWords<7" ng-click="vm.addItemToList(vm.process,vm.customer.listOfProcess);vm.process=''"class="add_item can_add"></button>
          </div>
          <div class="col2">
            <ul class="added_list">
              <li ng-repeat="process in vm.customer.listOfProcess track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.listOfProcess,$index)" class="close"></span>{{process}}</li>
            </ul>
          </div>
        </div>


        <div class="row">
          <div class="col2">
            <label for="condiciones">Condiciones medicas que mas atiendes. (mín 5).</label>
              <textarea ng-change="vm.medicalConditionWords=vm.countOf(vm.medicalCondition)" ng-model="vm.medicalCondition" name="condiciones" id="condicioness" placeholder="Ejemplo: Tos con sangre, Dolor al orinar, Verrugas genitales" maxlength="60"></textarea>
               <span class="count_limit">{{vm.medicalConditionWords ? vm.medicalConditionWords : 0}}  / 6</span>
            <button ng-show="vm.medicalConditionWords<7" ng-click="vm.addItemToList(vm.medicalCondition,vm.customer.commonMedicalConditions);vm.medicalCondition=''"class="add_item can_add"></button>
          </div>
          <div class="col2">
            <ul class="added_list">
              <li ng-repeat="condition in vm.customer.commonMedicalConditions track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.commonMedicalConditions,$index)" class="close"></span>{{condition}}</li>
            </ul>
          </div>
        </div>


        <!-- <div class="row">
        <div class="col1">
          <label for="cv">Cuuriculum Vitáe</label>
          <input type="file" name="cv" id="cv" multiple />
          <div class="drag_drop drag_drop_file">
            <div class="help">
              <span class="title"><a href="#">Selecciona el archivo</a> o arrastralas aquí. </span>
              <span class="description">Formato: JPG, PNG o PDF, Max 10mb</span>
            </div>
            <div class="upload"><span class="meter"></span></div>
          </div> -->
          <!-- <div class="preview preview_file can_delete">
            <span class="selected selected_file"></span>
            <a href="#">file_name_....pdf</a>
            <span class="close"></span>
          </div> -->
<!-- 
        </div>
      </div> -->
    </fieldset>

    <div class="row submit_step">
      <div class="col1">
          <a ng-click="vm.formView=1">Anterior</a>
          <button ng-class="{'button_muted':vm.formCalculationAdvance()<=100}" type="button" class="button" ng-click="vm.formView=3;vm.save()">Finalizar</button>
        </div>
      </div>


  </form>
  </div>
</div>
</div>

  <div ng-show="vm.formView==3">
    <div id="formulario_paso_3">
      <div class="content_wrap">

    <div class="center_box center_box_min center_box_elements">
      <div class="emoji emoji_congratz">🎉</div>
      <h1>¡Felicidades!</h1>
      <h2>Haz completado el formulario al <span>100%</span></h2>
      <p>Nuestro equipo te notificará cuando el landing page y tus campañas esten activas.</p>
    </div>

  </div>
</div>
</div>
