<div id="formularios">
  <div class="content_wrap">
    <div class="row title-w-search">
      <div class="title-w-search_title">
        <h1>Formularios</h1>
        <a data-ui-sref="customers.create" class="button">Agregar nuevo</a>
      </div>
      <div class="title-w-search_search">
        <form>
          <input type="search" ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()" name="buscar" id="buscar" placeholder="Buscar..."  />
          <button class="search_box"></button>
        </form>
      </div>
    </div>
    <table class="striped_table">
      <thead>
        <tr>
          <th class="sortable">Avance</th>
          <th>Nombre</th>
          <th class="sortable toggle">Huli ID</th>
          <th>Especialidad</th>
          <th>Estado</th>
          <th class="sortable">Vendedor</th>
          <th>Plan</th>
          <th class="sortable">Fecha de pago</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>

        <tr data-ng-repeat="customer in vm.pagedItems">
          <td data-ui-sref="customers.edit({customerId: customer._id})"><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="{{vm.formCalculationAdvance(customer)}}"></div></td>
          <td data-ui-sref="customers.edit({customerId: customer._id})" ng-bind="customer.name" class="permalink"></td>
          <td ng-bind="customer.huliId"></td>
          <td ng-bind="customer.specialty"></td>
          <td ng-bind="customer.state"></td>
          <td ng-bind="customer.seller"></td>
          <td ng-bind="customer.arrangement"></td>
          <td ng-bind="customer.paymentDay"></td>
          <td>
            <a data-ui-sref="customers.pdf({customerId: customer._id})">PDF</a>
          </td>
          <!-- <td>
            <span class="tooltip_options">
              <ul>
                <li><a href="form-paso1.html">Ver / Editar formulario</a></li>
                <li><a href="#">Duplicar formulario</a></li>
                <li><a href="#">Eliminar usuario</a></li>
              </ul>
            </span>
          </td> -->
        </tr>

      </tbody>
    </table>

    <!-- <div class="row pagination_w_numberpages">
      <div class="number_of_pages"><strong>Mostrando:</strong> 25 de 140</div>
      <ul class="pagination">
        <li class="pagination_previous"><a href="#"></a></li>
        <li class="pagination_page"><a href="#">1</a></li>
        <li class="pagination_page"><a href="#">2</a></li>
        <li class="pagination_page"><a href="#">3</a></li>
        <li class="pagination_page pagination_current"><a href="#">4</a></li>
        <li class="pagination_page"><a href="#">5</a></li>
        <li class="pagination_next"><a href="#"></a></li>
      </ul>
    </div> -->
    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

  </div>
</div>
