   <div id="pdf">
    <br>
    <div class="content_wrap">
      <button id="printBtn" ng-click="vm.printPDF()"class="button ">Exportar a PDF </button>
      
     <div>
         <form>
           <fieldset name="landing_page" disabled>
             <legend>Landing Page</legend>
               <div class="row">
                 <div class="col5">
                   <label for="titulo">Título</label>
                   <select ng-model="vm.customer.title" name="titulo" id="titulo">
                     <option ng-repeat="title in vm.titles" value="{{title}}">{{title}}</option>
                   </select>
                 </div>
                 <div class="col2-5">
                   <label for="nombres">Nombres</label>
                   <input ng-model="vm.customer.name" type="text" name="nombres" id="nombres" placeholder="Escribe tus nombres" />
                 </div>
                 <div class="col2-5">
                   <label for="apellidos">Apellidos</label>
                   <input ng-model="vm.customer.lastName"type="text" name="apellidos" id="apellidos" placeholder="Escribe tus apellidos" />
                 </div>
               </div>
           </fieldset>
 
 
 
           <fieldset name="personalizacion_landing_page" disabled>
             <legend>Personalización de landing page</legend>
             <div class="row">
               <div class="col2">
                 <label for="color">Color {{vm.customer.colorBackground}}</label>
                     <div class="preview preview_color"><span ng-class="vm.customer.colorBackground" class="selected selected_color"></span></div>
                     
               </div>
 
               <div class="col2">
                 <label for="fuente">Fuente {{vm.customer.font}}</label>
                 <div class="preview preview_font"><span ng-class="vm.customer.font" class="selected selected_font">Aa</span></div>
               </div>
             </div>
 
              <div class="row">
                 <div class="col1">
                   <label for="declaracion_profesional">Declaración profesional</label>
                   <textarea ng-model="vm.customer.professionalInsight" name="declaracion_profesional" id="declaracion_profesional" placeholder="Ejemplo: Yo creo que los pacientes siempre deben de salir felices de cada consulta, que se vayan sin ninguna duda, etc." maxlength="350"></textarea>
                 </div>
                </div>
 
 
           </fieldset>
 
 
 
           <fieldset name="informacion_profesional" disabled>
             <legend>Información Profesional</legend>
               <div class="row">
                 <div class="col2">
                   <label for="universidad">Universidad</label>
                   <input ng-model="vm.customer.university"type="text" name="universidad" id="universidad" placeholder="Institución que emitió tu título" />
                 </div>
                 <div class="col2">
                   <label for="cedula_profesional">Cédula Profesional</label>
                   <input ng-model="vm.customer.professionalId"type="text" name="cedula_profesional" id="cedula_profesional" placeholder="UNAM 47889" />
                 </div>
               </div>
 
               <div class="row">
                 <div class="col2">
                   <label for="especialidad">Especialidad</label>
                   <input ng-model="vm.customer.specialty" type="text" name="especialidad" id="especialidad" list="lista_especialidades" placeholder="Escribe tu especialidad" />
                     <!-- <datalist id="lista_especialidades">
                       <option value="Bariatra">
                       <option value="Coloproctólogo">
                       <option value="Audiólogo">
                     </datalist> -->
                 </div>
                 <div class="col2">
                   <label for="cedula_profesional_especialidad">Céd. prof. de especialidad</label>
                   <input ng-model="vm.customer.specialtyProfessionalId" type="text" name="cedula_profesional_especialidad" id="cedula_profesional_especialidad" placeholder="UNAM 47889" />
                 </div>
               </div>
 
               <div class="row">
                 <div class="col1">
                   <label for="especialidad">Describe tu especialidad</label>
                   <textarea ng-model="vm.customer.specialtyDescription" name="especialidad" id="especialidad" placeholder="Ejemplo: Yo creo que los pacientes siempre deben de salir felices de cada consulta, que se vayan sin ninguna duda, etc." maxlength="350"></textarea>
                 </div>
               </div>
 
               <div class="row">
                 <div class="col1">
                   <label for="servicio_1">Servicio a promocionar</label>
                     <!-- <label class="input_radio"><input type="radio" name="serv_1" value="1" checked><span>Implante dental</span></label>
                     <label class="input_radio"><input type="radio" name="serv_1" value="2"><span>Implante dental</span></label>
                     <label class="input_radio"><input type="radio" name="serv_1" value="3"><span>Implante dental</span></label>  -->
                     <input ng-model="vm.service1.name" type="text" name="Servicio" id="servicio1" placeholder="Implantes dentales" />
 
                 </div>
               </div>
 
               <div class="row">
                 <div class="col1">
                   <label for="describe_servicio_1">Describe ese servicio</label>
                   <textarea ng-model="vm.service1.description" name="describe_servicio_1" id="describe_servicio_1" placeholder="" maxlength="350"></textarea>
                 </div>
               </div>
 
 
               <div class="row">
                 <div class="col1">
                   <label for="servicio_2">Servicio a promocionar</label>
                     <!-- <label class="input_checkbox"><input type="checkbox" name="serv_2" value="1" checked><span>Implante dental</span></label>
                     <label class="input_checkbox"><input type="checkbox" name="serv_2" value="2"><span>Implante dental</span></label>
                     <label class="input_checkbox"><input type="checkbox" name="serv_2" value="3"><span>Implante dental</span></label>  -->
                     <input ng-model="vm.service2.name" type="text" name="Servicio" id="servicio2" placeholder="Implantes dentales" />
 
                 </div>
               </div>
 
               <div class="row">
                 <div class="col1">
                   <label for="describe_servicio_2">Describe ese servicio</label>
                   <textarea ng-model="vm.service2.description" name="describe_servicio_2" id="describe_servicio_2" placeholder="" maxlength="350"></textarea>
                 </div>
               </div>
 
 
 
 
                <div class="row">
                 <div class="col2">
                   <label for="otros_servicios">Otros servicios </label>
                 </div>
                 <div class="col2">
                   <ul class="added_list">
                     <li ng-repeat="service in vm.customer.otherServices track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.otherServices,$index)" class="close">x</span>{{service}}</li>
                   </ul>
                 </div>
               </div>
 
 
 
               <div class="row">
                 <div class="col2">
                   <label for="educacion">Educación </label>
                 </div>
                 <div class="col2">
                   <ul class="added_list">
                     <li ng-repeat="education in vm.customer.educations track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.educations,$index)"class="close">x</span>{{education}}</li>
                   </ul>
                 </div>
               </div>
 
 
           </fieldset>
           <fieldset name="consultorio" disabled>
             <legend>Consultorio</legend>
               <div class="row">
                 <div class="col2">
 
                   <label for="promocion">Promoción Primera Cita</label>
                   <select ng-model="vm.customer.promotion" name="porcentaje" id="porcentaje">
                     <option ng-repeat="promotion in vm.promotions" value="{{promotion}}">{{promotion}}</option>
                     <!-- <option value="20%">20%</option> -->
 
                   </select>
 
                   <!-- <select name="promocion" id="promocion">
                     <option value="1">Primera consulta</option>
                     <option value="2">Primera consulta</option>
                   </select> -->
 
                 </div>
                 <div class="col2"></div>
               </div>
 
               <div class="row">
                 <div class="col2">
                   <label for="nombre_consultorio">Nombre del consultorio</label>
                   <input ng-model="vm.customer.officeName"type="text" name="nombre_consultorio" id="nombre_consultorio" placeholder="Ejemplo: Virginia médica" />
                 </div>
                 <div class="col2">
                   <label for="piso_numero">Piso / Número de consultorio</label>
                   <input ng-model="vm.customer.officeData" type="text" name="piso_numero" id="piso_numero" placeholder="Ejemplo: Piso 2 / Cons. 205" />
                 </div>
               </div>
 
 
               <div class="row">
                 <div class="col1">
                   <label for="direccion">Dirección</label>
                   <input ng-model="vm.customer.officeAddress"type="text" name="direccion" id="direccion" placeholder="" />
                   <!-- <button class="get_location" onclick="getLocation()"></button> -->
                 </div>
               </div>
 
               <!-- <div class="row">
                 <div class="col1">
                   <div id="map_draggable">
                     <iframe width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-99.17807936668397%2C19.40601923574313%2C-99.16391730308534%2C19.415187069294213&amp;layer=transportmap&amp;marker=19.410603217130483%2C-99.17099833488464"></iframe>
                   </div>
                 </div>
               </div> -->
 
               <div class="row">
                 <div class="col1">
                   <label for="horario">Horario</label>
 
 
                   <div class="new_schedule" ng-repeat="schedule in vm.customer.timeTable track by $index">
 
                     <select ng-model="schedule.day" name="semana" id="semana" class="semana">
                       <option ng-repeat="day in vm.days" value="{{day}}">{{day}}</option>
                      </select>
 
                     <div class="hora">
                       <div uib-timepicker ng-model="schedule.start"  show-meridian="true"></div>
 
                       <!-- <input ng-model="schedule.start" type="time" name="de_horario" id="de_horario" class="horario" /> -->
                       <!-- <select ng-model="schedule.startAmpm" name="ampm" id="ampm" class="periodo">
                         <option ng-repeat="ampm in vm.ampms" value="{{ampm}}">{{ampm}}</option>
                       </select> -->
                     </div>
 
                     <div class="hora">
                       <div uib-timepicker ng-model="schedule.end"  show-meridian="true"></div>
 
                       <!-- <input ng-model="schedule.end"  type="time" name="de_horario" id="a_horario" class="horario"/>
                       <select ng-model="schedule.endAmpm" name="ampm" id="ampm" class="periodo">
                         <option ng-repeat="ampm in vm.ampms" value="{{ampm}}">{{ampm}}</option>
                       </select> -->
                     </div>
                   </div>
                 </div>
               </div>
 
           </fieldset>
 
           <fieldset name="archivos" disabled>
             <!-- <legend>Archivos</legend>
             <div class="row">
               <div class="col1">
                 <label for="fotografias">Fotografía de perfil, práctica y consultorio
                   <div class="tooltip_hint"><span class="content_hint"><img src="/modules/core/client/img/test_image_lineamientos.png"></span></div>
                 </label>
                 <input type="file" name="fotografias" id="fotografias" multiple />
                 <div class="drag_drop drag_drop_image">
                   <div class="help">
                     <span class="title"><a href="#">Sube fotografías</a> o arrastralas aquí. </span>
                     <span class="description">De medio cuerpo, actual, en alta calidad, fondo blanco, con uniforme médico. (No selfies)</span>
                   </div>
                   <div class="upload"><span class="meter"></span></div>
                 </div>
                  <div class="preview preview_image can_delete">
                   <span class="selected selected_image" style="background-image:url(images/test_image_1.png);"></span>
                   <span class="close"></span>
                 </div>
 
               </div>
             </div> -->
 
             <legend>Archivos</legend>
 
 
 
         <!--- Begin File Upload -->
             <div class="row">
               <div class="col1 upload-file">
                 <label for="fotografias">Fotografía de perfil, práctica y consultorio
                   <div class="tooltip_hint"></div>
                 </label>
             <div class="preview preview_image can_delete">
                 <span class="selected selected_image">
                   <img ngf-src="vm.fileSelected ? picFile : vm.customer.image1"  class="img-thumbnail " ngf-drop>
                 </span>
             </div>
 
             </div>
           </div>
         <!--- End File Upload -->
 
 
 
 
 
         <!--- Begin File Upload -->
             <div class="row">
               <div class="col1 upload-file">
                 <label for="fotografias">Fotografía de Especialidad</label>
             <div class="preview preview_image can_delete">
                 <span class="selected selected_image">
                   <img ngf-src="vm.fileSelected2 ? picFile2 : vm.customer.image2"  class="img-thumbnail " ngf-drop>
                 </span>
             </div>
             </div>
           </div>
         <!--- End File Upload -->
 
 
 
          <!--- Begin File Upload -->
             <div class="row">
               <div class="col1 upload-file">
                 <label for="fotografias">Fotografía del Primer Sevicio</label>
             <div class="preview preview_image can_delete">
                 <span class="selected selected_image">
                   <img ngf-src="vm.fileSelected3 ? picFile3 : vm.customer.image3"  class="img-thumbnail " ngf-drop>
                 </span>
             </div>
 
             </div>
           </div>
         <!--- End File Upload -->
 
 
 
 
         <!--- Begin File Upload -->
             <div class="row">
               <div class="col1 upload-file">
                 <label for="fotografias">Fotografía del Segundo Sevicio</label>
 
             <div class="preview preview_image can_delete">
                 <span class="selected selected_image">
                   <img ngf-src="vm.fileSelected4 ? picFile4 : vm.customer.image4"  class="img-thumbnail " ngf-drop>
                 </span>
             </div>
             </div>
           </div>
         <!--- End File Upload -->
 
 
 
 
         <!--- Begin File Upload -->
             <div class="row">
               <div class="col1 upload-file">
                 <label for="fotografias">Fotografía de otros Sevicios</label>
             <div class="preview preview_image can_delete">
                 <span class="selected selected_image">
                   <img ngf-src="vm.fileSelected5 ? picFile5 : vm.customer.image5"  class="img-thumbnail " ngf-drop>
                 </span>
             </div>
 
             </div>
           </div>
         <!--- End File Upload -->
 
 
 
 
 
 
         <!--
             <img ngf-src="vm.fileSelected2 ? picFile2 : vm.customer.image2"  class="img-thumbnail " ngf-drop>
             <div ng-show="!vm.fileSelected2" class=" form-group">
               <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected2 = true) && (vm.loading2 = false)" ng-model="picFile2" accept="image/*" ngf-before-model-change="vm.loading2 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para servicio 1</button>
             </div>
             <div ng-show="vm.fileSelected2" class=" form-group">
               <button class="btn btn-primary" ng-click="vm.upload(picFile2, 'image2')">Subir</button>
               <button class="btn btn-default" ng-click="vm.fileSelected2 = false">Cancel</button>
             </div>
             <div ng-show="vm.fileSelected2" class="progress">
               <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress2}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress2}}%" ng-bind="vm.progress2 + '%'">
                 <span class="sr-only">{{vm.progress2}}% Completado</span>
               </div>
             </div>
 
             <img ngf-src="vm.fileSelected3 ? picFile3 : vm.customer.image3"  class="img-thumbnail " ngf-drop>
             <div ng-show="!vm.fileSelected3" class=" form-group">
               <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected3= true) && (vm.loading3 = false)" ng-model="picFile3" accept="image/*" ngf-before-model-change="vm.loading3 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para servicio 2</button>
             </div>
             <div ng-show="vm.fileSelected3" class=" form-group">
               <button class="btn btn-primary" ng-click="vm.upload(picFile3, 'image3')">Subir</button>
               <button class="btn btn-default" ng-click="vm.fileSelected3 = false">Cancel</button>
             </div>
             <div ng-show="vm.fileSelected3" class="progress">
               <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress3}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress3}}%" ng-bind="vm.progress3 + '%'">
                 <span class="sr-only">{{vm.progress3}}% Completado</span>
               </div>
             </div>
 
             <img ngf-src="vm.fileSelected4 ? picFile4 : vm.customer.image4"  class="img-thumbnail " ngf-drop>
             <div ng-show="!vm.fileSelected4" class=" form-group">
               <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected4 = true) && (vm.loading4 = false)" ng-model="picFile4" accept="image/*" ngf-before-model-change="vm.loading4 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para servicio 3</button>
             </div>
             <div ng-show="vm.fileSelected4" class=" form-group">
               <button class="btn btn-primary" ng-click="vm.upload(picFile4, 'image4')">Subir</button>
               <button class="btn btn-default" ng-click="vm.fileSelected4 = false">Cancel</button>
             </div>
             <div ng-show="vm.fileSelected4" class="progress">
               <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress4}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress4}}%" ng-bind="vm.progress4 + '%'">
                 <span class="sr-only">{{vm.progress4}}% Completado</span>
               </div>
             </div>
 
             <img ngf-src="vm.fileSelected5 ? picFile5 : vm.customer.image5"  class="img-thumbnail " ngf-drop>
             <div ng-show="!vm.fileSelected5" class=" form-group">
               <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected5 = true) && (vm.loading5 = false)" ng-model="picFile5" accept="image/*" ngf-before-model-change="vm.loading5 = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">selecciona foto para seccion de otros servicios</button>
             </div>
             <div ng-show="vm.fileSelected5" class=" form-group">
               <button class="btn btn-primary" ng-click="vm.upload(picFile5, 'image5')">Subir</button>
               <button class="btn btn-default" ng-click="vm.fileSelected5 = false">Cancel</button>
             </div>
             <div ng-show="vm.fileSelected5" class="progress">
               <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress5}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress5}}%" ng-bind="vm.progress5 + '%'">
                 <span class="sr-only">{{vm.progress5}}% Completado</span>
               </div>
             </div> 
         -->
 
 
           </fieldset>
 
           <div class="row submit_step">
             <div class="col1">
             </div>
           </div>
 
 
         </form>
     </div>
   </div>
 
 
 
   <!-- section 2  -->
   <div>
     <div class="content_wrap">
 
   <form>
 
 
     <fieldset name="informacion_personal" disabled>
       <legend><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="51"></div> Informaión personal</legend>
         <div class="row">
           <div class="col3">
             <label for="email">Correo Electrónico</label>
             <input ng-model="vm.customer.email" type="email" name="email" id="email" placeholder="@.com" />
           </div>
           <div class="col3">
             <label for="tel">Teléfono</label>
             <input ng-model="vm.customer.phone"type="tel" name="tel" id="tel" placeholder="" />
           </div>
           <div class="col3">
             <label for="cel">Celular</label>
             <input ng-model="vm.customer.mobile" type="tel" name="tel" id="tel" placeholder="" />
           </div>
         </div>
 
         <div class="row">
           <div class="col2">
             <label for="facebook">Facebook</label>
             <div class="prefix">
               <span>facebook.com/</span>
               <input ng-model="vm.customer.facebook" type="text" name="facebook" id="facebook" placeholder="" />
             </div>
           </div>
         </div>
     </fieldset>
 
 
 
     <fieldset name="informacion_consulta" disabled>
       <legend><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="20"></div> Informaión de consulta</legend>
         <div class="row">
           <div class="col3">
             <label for="tel_consult">Teléfono del consultorio</label>
             <input ng-model="vm.customer.officePhone" type="tel" name="tel" id="tel" placeholder="" />
           </div>
           <div class="col6">
             <label for="tel_ext">Extension</label>
             <input ng-model="vm.customer.extension" type="tel" name="tel_ext" id="tel_xt" placeholder="" />
           </div>
           <div class="col3">
               <label for="otro_consultorio">¿Trabajas en otro consultorio?</label>
               <label class="input_switch"><input ng-model="vm.customer.workInOtherOffice" type="checkbox" name="otro_consultorio" value="1"><span></span></label>
           </div>
         </div>
         <div class="row" uib-collapse="!vm.customer.workInOtherOffice">
           <div class="col2">
             <label for="nombre_consultorio">Nombre del consultorio</label>
             <input ng-model="vm.customer.otherOfficeName"type="text" name="nombre_consultorio" id="nombre_consultorio" placeholder="Ejemplo: Virginia médica" />
           </div>
           <div class="col3">
             <label for="piso_numero">Piso / Número de consultorio</label>
             <input ng-model="vm.customer.otherOfficeData" type="text" name="piso_numero" id="piso_numero" placeholder="Ejemplo: Piso 2 / Cons. 205" />
           </div>
           <div class="col2">
             <label for="direccion">Dirección</label>
             <input ng-model="vm.customer.otherOfficeAddress"type="text" name="direccion" id="direccion" placeholder="" />
             <!-- <button class="get_location" onclick="getLocation()"></button> -->
           </div>
         </div>
 
 
 
         <div class="row">
           <div class="col3">
             <label for="precio_consulta">Precio de consulta</label>
             <div class="prefix">
               <span>$</span>
               <input ng-model="vm.customer.costsOfConsultation" type="number" name="precio_consulta" id="precio_consulta" placeholder="500" step="50" />
             </div>
           </div>
           <div class="col2-3">
             <label for="que_incluye">¿Qué incluye la consulta?</label>
             <textarea ng-model="vm.customer.descriptionOfConsultation" name="que_incluye" id="que_incluye" placeholder="Chequeo completo de rutina, receta digital / impresa" maxlength="350"></textarea>
           </div>
         </div>
     </fieldset>
 
 
 
 
 
 
 
     <fieldset name="informacion_curricular" disabled>
       <legend><div class="progress_circle progress_circle_min progress_circle_blank" data-progress="78"></div> Información Curricular</legend>
 
         <div class="row">
           <div class="col1">
             <label for="acerca">Acerca de ti.</label>
             <textarea name="acerca" id="acerca" ng-model="vm.customer.aboutYou" placeholder="¿Por que decidiste estudiar medicina?¿Que es lo que mas disfrutas de tu trabajo? ¿Que tipo de persona eres? etc." maxlength="350"></textarea>
           </div>
         </div>
 
         <div class="row">
           <div class="col2">
             <label for="habilidades">Logros o cursos (mín 4).</label>
           </div>
           <div class="col2">
             <ul class="added_list">
               <li ng-repeat="achievement in vm.customer.achievements track by $index"  class="can_delete"><span ng-click="vm.remove(vm.customer.achievements,$index)" class="close">x</span>{{achievement}}</li>
             </ul>
           </div>
         </div>
 
 
 
         <div class="row">
           <div class="col2">
             <label for="procedimientos">Procedimientos y su costo (mín. 5).</label>
           </div>
           <div class="col2">
             <ul class="added_list">
               <li ng-repeat="process in vm.customer.listOfProcess track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.listOfProcess,$index)" class="close"></span>{{process}}</li>
             </ul>
           </div>
         </div>
 
 
         <div class="row">
           <div class="col2">
             <label for="condiciones">Condiciones medicas que mas atiendes. (mín 5).</label>
           </div>
           <div class="col2">
             <ul class="added_list">
               <li ng-repeat="condition in vm.customer.commonMedicalConditions track by $index" class="can_delete"><span ng-click="vm.remove(vm.customer.commonMedicalConditions,$index)" class="close"></span>{{condition}}</li>
             </ul>
           </div>
         </div>
 
 
         <!-- <div class="row">
         <div class="col1">
           <label for="cv">Cuuriculum Vitáe</label>
           <input type="file" name="cv" id="cv" multiple />
           <div class="drag_drop drag_drop_file">
             <div class="help">
               <span class="title"><a href="#">Selecciona el archivo</a> o arrastralas aquí. </span>
               <span class="description">Formato: JPG, PNG o PDF, Max 10mb</span>
             </div>
             <div class="upload"><span class="meter"></span></div>
           </div> -->
           <!-- <div class="preview preview_file can_delete">
             <span class="selected selected_file"></span>
             <a href="#">file_name_....pdf</a>
             <span class="close"></span>
           </div> -->
 <!-- 
         </div>
       </div> -->
     </fieldset>
   </form>
   </div>
 </div>
 
   </div>
   