<div>

  <div class="content_wrap">
    <div class="row title-w-search">
      <div class="title-w-search_title">
        <h1>Usuarios</h1>
<!--         <a href="nuevo_usuario.html" class="button">Agregar nuevo</a>-->
      </div>
      <div class="title-w-search_search">
        <form>
          <input type="search" ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()" name="buscar" id="buscar" placeholder="Buscar..." />
          <button class="search_box"></button>
        </form>
      </div>
    </div>
    <table class="striped_table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th class="sortable toggle">Empresa</th>
          <th class="sortable">Rol</th>
          <th>Correo</th>
          <th class="sortable">Ingreso</th>
          <!-- <th>Acciones</th> -->
        </tr>
      </thead>

      <tbody>

        <tr ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" >
          <td class="permalink" ng-bind="user.username"></td>
          <td ng-bind="user.company"></td>
          <td ng-bind="user.roles"></td>
          <td ng-bind="user.email"></td>
          <td ng-bind="user.created"></td>

        </tr>
      </tbody>
    </table>
    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>


  </div>

</div>
