<section>
  <div class="page-header">
    <h1>Customers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="customer in vm.customers" ui-sref="customers.view({ customerId: customer._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="customer.created | date:'mediumDate'"></span>
        by
        <span ng-if="customer.user" ng-bind="customer.user.displayName"></span>
        <span ng-if="!customer.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="customer.title"></h4>
      <p class="list-group-item-text" ng-bind="customer.content"></p>
    </a>
  </div>
</section>
