<section>
  <div class="page-header">
    <h1 ng-bind="vm.customer.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.customer.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.customer.user" ng-bind="vm.customer.user.displayName"></span>
      <span ng-if="!vm.customer.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.customer.content"></p>
</section>
