<div class="section-container">
  <div class="page-header">
    <h1>{{vm.doctor._id ? 'Edit Doctor' : 'New Doctor'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.doctor._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.doctorForm" id="
    "class="form-horizontal" ng-submit="vm.save(vm.form.doctorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label  for="name">Nombre (Como aparece en shopify)</label>
          <input name="name" type="text" ng-model="vm.doctor.name" id="name" class="form-control" placeholder="Name" required autofocus>
          <div ng-messages="vm.form.doctorForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El Nombre del dotor es requerido</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label  for="link">Link de la agenda</label>
          <input name="link" type="text" ng-model="vm.doctor.link" id="link" class="form-control" placeholder="link" required autofocus>
          <div ng-messages="vm.form.doctorForm.link.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Link</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label  for="shopifyId">Id del Doctor en Shopify</label>
          <input name="shopifyId" type="text" ng-model="vm.doctor.shopifyId" id="shopifyId" class="form-control" placeholder="shopifyId" required autofocus>
          <div ng-messages="vm.form.doctorForm.shopifyId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El Nombre del dotor es requerido</p>
          </div>
        </div>
        <div class="form-group">
          <label  for="content">Comentarios</label>
          <textarea name="content" data-ng-model="vm.doctor.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.doctor._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>