﻿  <div class="section-container">
   <div id="formularios">
    <div class="content_wrap">
      <div class="row title-w-search">
        <div class="title-w-search_title">
          <h1>Doctores</h1>
          <a data-ui-sref="admin.doctors.create" class="button">Agregar nuevo</a>
        </div>
        <div class="title-w-search_search">
          <form>
            <input type="search" ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()" name="buscar" id="buscar" placeholder="Buscar..."  />
            <button class="search_box"></button>
          </form>
        </div>
      </div>
      <table class="striped_table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Link de la agenda</th>
            <th>Id de Shopify</th>
          </tr>
        </thead>
  
        <tbody>
          <tr data-ng-repeat="doctor in vm.pagedItems" data-ui-sref="admin.doctors.edit({doctorId: doctor._id})">
            <td ng-bind="doctor.name"></td>
            <td ng-bind="doctor.link"></td>
            <td ng-bind="doctor.shopifyId"></td>
          </tr>
  
        </tbody>
      </table>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  
    </div>
  </div>
  