.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background: #48b34e;
  color: #f7f8f9;
}
::-moz-selection {
  background: #48b34e;
  color: #f7f8f9;
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 100%;
  background: #f7f8f9;
  color: #8291a0;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
}
img {
  border: none;
  padding: 0;
  margin: 0;
}
iframe {
  width: 100%;
  border: 0;
  outline: 0;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
main {
  width: 100%;
  min-height: 100%;
  float: left;
}
section {
  width: 100%;
  float: left;
  position: relative;
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  line-height: 100%;
  letter-spacing: 0;
  line-height: 140%;
}
h1 {
  font-weight: 500;
  font-size: 2rem;
}
hr {
  border: none;
  border-top: #e7e9ec 1px solid;
  opacity: 5;
}
a {
  color: #48b34e;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, border 0.3s;
  -o-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
  outline: 0;
  border-bottom: 1px solid #48b34e;
}
a:hover {
  color: #62c067;
  -webkit-transition: color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, border 0.3s;
  -o-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
  border-color: transparent;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
blockquote {
  border-left: 10px solid #e7e9ec;
  padding: 10px 20px;
  font-size: 1.5rem;
}
pre {
  background: #ceffd1;
  text-align: left;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  overflow-x: auto;
  white-space: pre-wrap;
  margin: 0;
  position: relative;
}
.row {
  width: 100%;
  position: relative;
  float: left;
}
.col1 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.col1::after {
  content: '';
  display: table;
  clear: both;
}
.col1:last-child {
  margin-right: 0%;
}
.col2 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.col2::after {
  content: '';
  display: table;
  clear: both;
}
.col2:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .col2 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .col2:first-child {
    margin-left: auto;
  }
  .col2:last-child {
    margin-right: auto;
  }
}
.col2-3 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.col2-3::after {
  content: '';
  display: table;
  clear: both;
}
.col2-3:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .col2-3 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .col2-3:first-child {
    margin-left: auto;
  }
  .col2-3:last-child {
    margin-right: auto;
  }
}
.col2-5 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%;
}
.col2-5::after {
  content: '';
  display: table;
  clear: both;
}
.col2-5:last-child {
  margin-right: 0%;
}
.col3 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.col3::after {
  content: '';
  display: table;
  clear: both;
}
.col3:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .col3 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .col3:first-child {
    margin-left: auto;
  }
  .col3:last-child {
    margin-right: auto;
  }
}
.col3-4 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
}
.col3-4::after {
  content: '';
  display: table;
  clear: both;
}
.col3-4:last-child {
  margin-right: 0%;
}
.col4 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.col4::after {
  content: '';
  display: table;
  clear: both;
}
.col4:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .col4 {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .col4::after {
    content: '';
    display: table;
    clear: both;
  }
  .col4:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 600px) {
  .col4 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .col4:first-child {
    margin-left: auto;
  }
  .col4:last-child {
    margin-right: auto;
  }
}
.col5 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
.col5::after {
  content: '';
  display: table;
  clear: both;
}
.col5:last-child {
  margin-right: 0%;
}
.col6 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
}
.col6::after {
  content: '';
  display: table;
  clear: both;
}
.col6:last-child {
  margin-right: 0%;
}
.col8 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.875%;
  margin-left: 0%;
  margin-right: 3%;
}
.col8::after {
  content: '';
  display: table;
  clear: both;
}
.col8:last-child {
  margin-right: 0%;
}
.span2 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.span2::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 800px) {
  .span2 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .span2:first-child {
    margin-left: auto;
  }
  .span2:last-child {
    margin-right: auto;
  }
}
.span3 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
}
.span3::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 800px) {
  .span3 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .span3:first-child {
    margin-left: auto;
  }
  .span3:last-child {
    margin-right: auto;
  }
}
.span2-3 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66666666666666%;
  margin-left: 0%;
  margin-right: 0%;
}
.span2-3::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 800px) {
  .span2-3 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .span2-3:first-child {
    margin-left: auto;
  }
  .span2-3:last-child {
    margin-right: auto;
  }
}
.span4 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.span4::after {
  content: '';
  display: table;
  clear: both;
}
.title-w-search {
  margin-bottom: 40px;
}
.title-w-search .title-w-search_title,
.title-w-search .title-w-search_search {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.title-w-search .title-w-search_title::after,
.title-w-search .title-w-search_search::after {
  content: '';
  display: table;
  clear: both;
}
.title-w-search .title-w-search_title:last-child,
.title-w-search .title-w-search_search:last-child {
  margin-right: 0%;
}
.title-w-search .title-w-search_title {
  width: calc(97% - 250px);
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.title-w-search .title-w-search_title h1 {
  margin-right: 20px;
}
.title-w-search .title-w-search_search {
  width: 250px;
  position: relative;
}
.pagination_w_numberpages {
  margin-top: 40px;
}
.pagination_w_numberpages .number_of_pages {
  display: block;
}
.center_box {
  display: table;
  margin: 0 auto;
  width: 100%;
}
.center_box.center_box_min {
  max-width: 400px;
}
.center_box.center_box_max {
  max-width: 750px;
}
.center_box.center_box_elements div {
  margin: 0 auto;
}
.center_box.center_box_elements * {
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background: #546981;
}
header.the_form {
  width: 100%;
  height: 80px;
  padding: 10px 0;
}
header.the_form .content_wrap {
  height: 100%;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header.the_form .content_wrap .current_progress {
  width: 50px;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2 0 auto;
  -ms-flex: 2 0 auto;
  flex: 2 0 auto;
}
header.the_form .content_wrap .current_progress .progress_circle {
  color: #b1c5dd;
}
header.the_form .content_wrap .current_step {
  width: 380px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
header.the_form .content_wrap .current_step .progress_steps {
  margin: 0 auto;
}
header.the_form .content_wrap .current_step .progress_steps li {
  color: #b1c5dd;
}
header.the_form .content_wrap .save_submit {
  width: 260px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
header.the_form .content_wrap .save_submit .auto_save {
  margin-right: 20px;
  color: #b1c5dd;
}
header.the_form .content_wrap .save_submit .auto_save:before {
  content: '';
  display: inline-block;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -263px;
  padding-left: 20px;
  width: 20px;
  height: 12px;
}
header.the_platform {
  width: 120px;
  height: 100%;
}
header.the_platform .logo a {
  border-bottom: none;
  padding: 10px;
}
header.the_platform .logo a img {
  max-width: 40px;
  margin: 0 auto;
  display: block;
}
.aside_platform section {
  width: calc(100% - 120px);
  margin-left: 120px;
}
::-webkit-input-placeholder {
  color: #b1c5dd;
  -webkit-font-smoothing: antialiased;
}
::-moz-placeholder {
  color: #b1c5dd;
  opacity: 1;
}
:focus::-webkit-input-placeholder {
  color: #b1c5dd;
}
:focus::-moz-placeholder {
  color: #b1c5dd;
}
form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
  line-height: 120%;
}
form fieldset legend {
  margin: 0;
  margin-bottom: 30px;
  font-size: 2rem;
}
form datalist {
  display: none;
}
form label {
  font-size: 1.3rem;
  display: block;
  color: #7c7c7c;
  margin-bottom: 10px;
}
form button {
  outline: 0;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
form input,
form textarea,
form select,
form option {
  color: #728393;
  font-weight: 500;
  outline: 0;
  border: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  -moz-transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  -o-transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="url"],
form input[type="search"],
form input[type="time"],
form input[type="number"],
form textarea,
form select {
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
}
form input[type="text"]:valid,
form input[type="email"]:valid,
form input[type="tel"]:valid,
form input[type="password"]:valid,
form input[type="url"]:valid,
form input[type="search"]:valid,
form input[type="time"]:valid,
form input[type="number"]:valid,
form textarea:valid,
form select:valid,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="number"]:focus,
form textarea:focus,
form select:focus,
form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="tel"]:hover,
form input[type="password"]:hover,
form input[type="url"]:hover,
form input[type="search"]:hover,
form input[type="time"]:hover,
form input[type="number"]:hover,
form textarea:hover,
form select:hover,
form input[type="text"]:invalid,
form input[type="email"]:invalid,
form input[type="tel"]:invalid,
form input[type="password"]:invalid,
form input[type="url"]:invalid,
form input[type="search"]:invalid,
form input[type="time"]:invalid,
form input[type="number"]:invalid,
form textarea:invalid,
form select:invalid {
  -webkit-transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  -moz-transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  -o-transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}
form input[type="text"]:valid,
form input[type="email"]:valid,
form input[type="tel"]:valid,
form input[type="password"]:valid,
form input[type="url"]:valid,
form input[type="search"]:valid,
form input[type="time"]:valid,
form input[type="number"]:valid,
form textarea:valid,
form select:valid {
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
}
form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="tel"]:hover,
form input[type="password"]:hover,
form input[type="url"]:hover,
form input[type="search"]:hover,
form input[type="time"]:hover,
form input[type="number"]:hover,
form textarea:hover,
form select:hover {
  -moz-box-shadow: 0 2px 20px 10px rgba(171,174,183,0.1);
  -webkit-box-shadow: 0 2px 20px 10px rgba(171,174,183,0.1);
  box-shadow: 0 2px 20px 10px rgba(171,174,183,0.1);
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="number"]:focus,
form textarea:focus,
form select:focus {
  -moz-box-shadow: 0 2px 2px 0 rgba(14,93,180,0.5);
  -webkit-box-shadow: 0 2px 2px 0 rgba(14,93,180,0.5);
  box-shadow: 0 2px 2px 0 rgba(14,93,180,0.5);
}
form input[type="text"]:invalid,
form input[type="email"]:invalid,
form input[type="tel"]:invalid,
form input[type="password"]:invalid,
form input[type="url"]:invalid,
form input[type="search"]:invalid,
form input[type="time"]:invalid,
form input[type="number"]:invalid,
form textarea:invalid,
form select:invalid {
  -moz-box-shadow: 0 2px 2px 0 rgba(247,107,130,0.5);
  -webkit-box-shadow: 0 2px 2px 0 rgba(247,107,130,0.5);
  box-shadow: 0 2px 2px 0 rgba(247,107,130,0.5);
}
form input[type="file"] {
  display: none;
}
form select::-ms-expand,
form input[type=checkbox]::-ms-check {
  display: none;
}
form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
form select {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #fff;
  background-position: calc(100px + 100% - 20px) -56px;
}
form textarea {
  resize: vertical;
  padding: 10px;
  min-height: 70px;
  max-height: 170px;
  line-height: 120%;
}
form input[type="search"] {
  padding-right: 40px;
}
form label.input_radio,
form label.input_checkbox,
form label.input_switch,
form label.input_color {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}
form label.input_radio,
form label.input_checkbox {
  margin-right: 10px;
}
form label.input_radio input,
form label.input_checkbox input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
}
form label.input_radio input + span,
form label.input_checkbox input + span {
  color: #b1c5dd;
  display: block;
  background: #fff;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  padding: 15px 10px;
  padding-left: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form label.input_radio input + span:before,
form label.input_checkbox input + span:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  left: 10px;
  right: auto;
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #b1c5dd;
  margin-right: 10px;
}
form label.input_radio input + span:hover,
form label.input_checkbox input + span:hover {
  color: #7c7c7c;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form label.input_radio input:checked + span,
form label.input_checkbox input:checked + span {
  color: #48b34e;
  background: #ceffd1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form label.input_radio input:checked + span:before,
form label.input_checkbox input:checked + span:before {
  left: 5px;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -263px;
  width: 15px;
  height: 10px;
}
form label.input_radio input + span:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
form label.input_checkbox input + span:before {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
form label.input_switch {
  width: 60px;
  height: 20px;
}
form label.input_switch span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -o-border-radius: 34px;
  border-radius: 34px;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
}
form label.input_switch span:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: -3px;
  background-color: #b1c5dd;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
}
form label.input_switch span:after {
  content: 'No';
  color: #b1c5dd;
  line-height: 20px;
  float: right;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
form label.input_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
form label.input_switch input:checked + span {
  background-color: #48b34e;
}
form label.input_switch input:checked + span:before {
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
  background-color: #fff;
}
form label.input_switch input:checked + span:after {
  content: 'Si';
  color: #fff;
  float: left;
}
form label.input_color input {
  width: 30px;
  height: 30px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
}
form label.input_color input:hover {
  -moz-box-shadow: 0 2px 20px 10px rgba(171,174,183,0.1);
  -webkit-box-shadow: 0 2px 20px 10px rgba(171,174,183,0.1);
  box-shadow: 0 2px 20px 10px rgba(171,174,183,0.1);
}
form label.input_color input:after {
  content: '';
  display: block;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
form label.input_color input:checked {
  background: #ceffd1;
}
form label.input_color input[value="azul"]:after {
  background: #0e5db4;
}
form label.input_color input[value="verde"]:after {
  background: #a4ec70;
}
form label.input_color input[value="morado"]:after {
  background: #c865ea;
}
form label.input_color input[value="cyan"]:after {
  background: #2ab4d5;
}
form label.input_color input[value="aqua"]:after {
  background: #3fd5bd;
}
form label.input_color input[value="rosa"]:after {
  background: #f267b3;
}
form .preview {
  width: 85px;
  height: 65px;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
form .preview .selected {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
form .preview .selected_color {
  /*background: #0e5db4;*/
}
form .preview .selected_font {
  background: #b1c5dd;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  line-height: 55px;
  font-weight: 700;
}
.Montserrat{
  font-family: 'Montserrat', sans-serif;
}
.Times{
  font-family: 'Times New Roman', sans-serif;
}

form .preview .selected_image {
  background-color: #b1c5dd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
form .preview .selected_file {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #fff;
  background-position: center -987px;
}
form .preview.preview_file {
  width: 120px;
}
form .preview.preview_file a {
  padding-top: 70px;
  display: inline-block;
  word-wrap: break-word;
}
form input#direccion {
  padding-right: 60px;
}
form button.get_location {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -530px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form button.get_location:hover {
  background-position: center -590px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form button.add_item {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
form button.search_box {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: transparent;
  background-position: calc(100px + 100% - 20px) -452px;
  padding-right: 40px;
}
form button.search_box:hover {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: calc(100px + 100% - 20px) -482px;
}
form .added_list li {
  border-bottom: 1px solid #e7e9ec;
  display: block;
  padding: 10px 5px 10px 40px;
}
form .added_list li .close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  right: auto;
}
form #map_draggable iframe {
  height: 250px;
  pointer-events: none;
}
form .drag_drop {
  width: 100%;
  border: 1px dashed #b1c5dd;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
form .drag_drop:before {
  content: '';
  float: left;
  width: 65px;
  margin-right: 30px;
  height: 55px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  display: block;
}
form .drag_drop.drag_drop_image:before {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #b1c5dd;
  background-position: center -743px;
}
form .drag_drop.drag_drop_file:before {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #b1c5dd;
  background-position: center -906px;
}
form .drag_drop:hover {
  border: 1px dotted #48b34e;
  trasition: 0.3s;
  cursor: grab;
}
form .drag_drop:hover:before {
  background-color: #48b34e;
}
form .drag_drop .help {
  float: left;
  width: calc(100% - 95px);
}
form .drag_drop .help span {
  display: block;
  line-height: 140%;
}
form .drag_drop .help span.title {
  font-weight: 700;
}
form .drag_drop .upload {
  position: absolute;
  width: 0;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  background: #48b34e;
  z-index: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form .drag_drop .upload.uploading {
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
form .count_limit {
  position: absolute;
  right: 0;
  top: 0;
  background: #b1c5dd;
  color: #fff;
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  z-index: -1;
}
form .new_schedule {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
form .new_schedule:last-child {
  margin-bottom: 0;
}
form .new_schedule .semana,
form .new_schedule .hora,
form .new_schedule .acciones {
  /*float: left;*/
  display: inline-block;
  clear: none;
  text-align: inherit;
  width: 30.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  vertical-align: middle;
}

form .new_schedule .semana::after,
form .new_schedule .hora::after,
form .new_schedule .acciones::after {
  content: '';
  display: table;
  clear: both;
}
form .new_schedule .semana:last-child,
form .new_schedule .hora:last-child,
form .new_schedule .acciones:last-child {
  margin-right: 0%;
}
form .new_schedule .semana,
form .new_schedule .hora {
  width: calc(30% - 20px);
}
form .new_schedule .hora input[type="time"] {
  float: left;
  width: calc(100% - 65px);
}
form .new_schedule .semana{
  width: calc(30% - 47px);
}
form .new_schedule .hora select.periodo {
  float: left;
  width: 65px;
}
form .new_schedule .acciones {
  width: 65px;
  height: 40px;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  vertical-align: baseline;

}
form .new_schedule .acciones button {
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
form .new_schedule .acciones button:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-180deg) scale(1.5);
  -moz-transform: rotate(-180deg) scale(1.5);
  -o-transform: rotate(-180deg) scale(1.5);
  transform: rotate(-180deg) scale(1.5);
}
form .new_schedule .acciones button.add_hour {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -384px;
  background-color: #48b34e;
  text-indent:-9999px;
  overflow:hidden;
}
form .new_schedule .acciones button.delete_hour {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #fef0f7;
  background-position: center -322px;
  margin-left: 15px;
  text-indent:-9999px;
  overflow:hidden;
}
form #porcentaje {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
form #porcentaje::after {
  content: '';
  display: table;
  clear: both;
}
form #porcentaje:last-child {
  margin-right: 0%;
}
form #promocion {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
form #promocion::after {
  content: '';
  display: table;
  clear: both;
}
form #promocion:last-child {
  margin-right: 0%;
}
form .prefix {
  display: table-row;
}
form .prefix span,
form .prefix input {
  display: table-cell;
}
form .prefix span {
  height: 40px;
  background: #b1c5dd;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  color: #fff;
  padding: 0 15px;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  font-weight: 600;
}
form .prefix span + input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
form .row .col1,
form .row .col2,
form .row .col3 {
  margin-bottom: 30px;
}
form .row,
form .col1,
form .col2,
form .col3,
form .col4 {
  position: relative;
}
form .preview {
  float: left;
  margin-right: 20px;
}
form label.input_color {
  float: left;
  margin-right: 10px;
}
form select#fuente {
  width: calc(100% - 105px);
}
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  padding: 15px 30px;
  background: #48b34e;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
  border: none;
}
.button:hover {
  background: #4bd353;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}
.button.button_muted {
  pointer-events: none;
  opacity: 0.5;
}
.button.button_submited {
  pointer-events: none;
  background: #b1c5dd;
}
.button.button_square {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.button.button_alt {
  background: #fff;
  color: #48b34e;
  -moz-box-shadow: 0px 0px 0px 2px #48b34e inset;
  -webkit-box-shadow: 0px 0px 0px 2px #48b34e inset;
  box-shadow: 0px 0px 0px 2px #48b34e inset;
}
.button.button_alt:hover {
  background: #48b34e;
  color: #fff;
}
.button.button_small {
  font-size: 1.1rem;
  padding: 7px 15px;
}
.button.button_big {
  font-size: 1.6rem;
  padding: 15px 40px;
}
.button.button_full_width {
  width: 100%;
  display: block;
}
table,
thead,
tbody {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
table {
  width: 100%;
}
table thead tr th {
  text-align: left;
  padding: 0 10px;
  padding-bottom: 20px;
}
table thead tr th.sortable {
  position: relative;
  cursor: pointer;
}
table thead tr th.sortable:hover {
  color: #586573;
}
table thead tr th.sortable:after {
  content: '';
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -68px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 5px;
}
table thead tr th.sortable.toggle:after {
  background-position: center -10px;
}
table thead tr th:first-child {
  padding-left: 30px;
}
table tbody {
  -moz-box-shadow: 0 5px 10px 5px rgba(62,86,128,0.1);
  -webkit-box-shadow: 0 5px 10px 5px rgba(62,86,128,0.1);
  box-shadow: 0 5px 10px 5px rgba(62,86,128,0.1);
}
table tbody tr {
  border-bottom: 1px solid #e7e9ec;
}
table tbody tr td {
  position: relative;
  font-size: 1.2rem;
  padding: 20px 10px;
  background: #fff;
}
table tbody tr td.permalink {
  padding: 0 10px;
}
table tbody tr td.permalink a {
  border: none;
  display: block;
  color: #8291a0;
  padding: 20px 0;
  font-weight: 700;
}
table tbody tr td.permalink a:hover {
  border: none;
  color: #48b34e;
}
table tbody tr td:first-child {
  overflow: hidden;
  padding-left: 30px;
}
table tbody tr td:first-child:before {
  content: '';
  width: 4px;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #48b34e;
}
table tbody tr td:last-child {
  padding: 0 10px;
}
table tbody tr:hover td {
  background: #f9fdfa;
  color: #586573;
}
table tbody tr:hover td:first-child:before {
  height: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
table tbody tr:first-child td:first-child {
  border-top-left-radius: 6px;
}
table tbody tr:first-child td:last-child {
  border-top-right-radius: 6px;
}
table tbody tr:last-child {
  border-bottom: none;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
table.striped_table tbody tr:nth-child(even) td {
  background: #fafafa;
}
table.striped_table tbody tr:hover td {
  background: #f4fbf4;
}
.content_wrap {
  width: auto;
  max-width: 1300px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 40px;
}
.content_wrap::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 600px) {
  .content_wrap {
    padding: 0 20px;
  }
}
.section_row {
  float: left;
  width: 100%;
  position: relative;
}
.show_desk {
  display: block;
}
.hide_desk {
  display: none !important;
}
@media only screen and (max-width: 800px) {
  .hide_tab {
    display: none !important;
  }
}
.show_tab {
  display: none;
}
@media only screen and (max-width: 800px) {
  .show_tab {
    display: block !important;
  }
}
@media only screen and (max-width: 600px) {
  .hide_mob {
    display: none !important;
  }
}
.show_mob {
  display: none;
}
@media only screen and (max-width: 600px) {
  .show_mob {
    display: block !important;
  }
}
.can_add {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -382px;
  background-color: #48b34e;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.can_add:hover {
  background-color: #59bc5e;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-180deg) scale(1.5);
  -moz-transform: rotate(-180deg) scale(1.5);
  -o-transform: rotate(-180deg) scale(1.5);
  transform: rotate(-180deg) scale(1.5);
}
.can_delete {
  position: relative;
}
.can_delete .close {
  opacity: 0;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: -10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #fef0f7;
  background-position: center -322px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-indent:-9999px;
  overflow:hidden;
}
.can_delete:hover .close {
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.can_delete:hover .close:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.url_box {
  position: relative;
}
.url_box span,
.url_box pre {
  float: left;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
}
.url_box pre {
  height: 40px;
  padding: 12px 10px;
  width: calc(100% - 55px);
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -o-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  font-size: 1rem;
  cursor: pointer;
}
.url_box span.prefix {
  width: 55px;
  height: 40px;
  background: #48b34e;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -o-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
  pointer-events: none;
}
.url_box span.copy_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #b1c5dd;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.url_box:hover span.copy_link {
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.tooltip_options {
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  display: block;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-position: center -661px;
  background-color: #e7e9ec;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.tooltip_options ul {
  position: absolute;
  bottom: -120px;
  right: 0;
  height: 0;
  width: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  opacity: 0;
  z-index: -5;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  display: none;
}
.tooltip_options ul:after {
  position: absolute;
  right: 15px;
  top: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 20px 12.5px;
  border-color: transparent transparent #546981 transparent;
  z-index: -6;
}
.tooltip_options ul li a {
  border-bottom: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  color: #fff;
  background-color: #546981;
  font-size: 1.2rem;
}
.tooltip_options ul li a:hover {
  background-color: #607893;
}
.tooltip_options ul li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tooltip_options ul li:last-child a {
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tooltip_options:hover {
  background-color: #48b34e;
  background-position: center -701px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.tooltip_options:hover ul {
  width: 200px;
  height: auto;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 5;
  display: block;
}
.tooltip_hint {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #48b34e;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #fff;
  background-position: center -432px;
  cursor: pointer;
}
.tooltip_hint .content_hint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: -100%;
  position: fixed;
  display: block;
  opacity: 0;
  z-index: -5;
  background: #b1c5dd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  color: #fff;
  min-width: 400px;
  max-width: 700px;
  min-height: 300px;
  max-height: 600px;
  padding: 10px;
  -webkit-transition: opacity 0.3s, top 0.3s;
  -moz-transition: opacity 0.3s, top 0.3s;
  -o-transition: opacity 0.3s, top 0.3s;
  transition: opacity 0.3s, top 0.3s;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tooltip_hint .content_hint img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.tooltip_hint:hover .content_hint {
  top: 0;
  -webkit-transition: opacity 0.3s, top 0.3s;
  -moz-transition: opacity 0.3s, top 0.3s;
  -o-transition: opacity 0.3s, top 0.3s;
  transition: opacity 0.3s, top 0.3s;
  opacity: 1;
  z-index: 999;
}
.pagination li a {
  background: #fff;
  color: #8291a0;
  line-height: 25px;
  font-weight: 600;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.pagination li a:hover {
  background-color: #48b34e;
  color: #fff;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  z-index: 1;
}
.pagination li.pagination_previous a,
.pagination li.pagination_next a {
  background-color: transparent;
  background-image: url("/modules/core/client/img/sprite.svg");
  background-repeat: no-repeat;
  background-size: 200px 2000px;
  background-color: #fff;
}
.pagination li.pagination_current a {
  background-color: #ceffd1;
  color: #8291a0;
  pointer-events: none;
}
.progress_circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.progress_circle:before,
.progress_circle:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
.progress_circle:before {
  content: attr(data-progress) '%';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}
.progress_circle:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #48b34e;
}
.progress_circle:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.progress_circle.progress_circle_min {
  width: 35px;
  height: 35px;
  font-size: 1rem;
}
.progress_circle.progress_circle_blank:before {
  content: '';
}
.progress_circle.progress_circle_alt {
  color: #fff;
}
.progress_circle.progress_circle_alt:before {
  background-color: #546981;
}
.progress_circle[data-progress="0"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(90deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="1"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(93.6deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="2"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(97.2deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="3"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(100.8deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="4"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(104.4deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="5"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(108deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="6"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(111.6deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="7"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(115.2deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="8"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(118.8deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="9"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(122.4deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="10"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(126deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="11"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(129.6deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="12"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(133.2deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="13"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(136.8deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="14"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(140.4deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="15"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(144deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="16"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(147.6deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="17"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(151.2deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="18"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(154.8deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="19"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(158.4deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="20"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(162deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="21"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(165.60000000000002deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="22"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(169.2deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="23"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(172.8deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="24"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(176.4deg, #ff4f69 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="25"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(180deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="26"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(183.60000000000002deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="27"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(187.2deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="28"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(190.8deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="29"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(194.4deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="30"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(198deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="31"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(201.60000000000002deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="32"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(205.2deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="33"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(208.8deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="34"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(212.4deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="35"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(216deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="36"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(219.6deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="37"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(223.20000000000002deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="38"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(226.8deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="39"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(230.4deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="40"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(234deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="41"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="42"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(241.20000000000002deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="43"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(244.8deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="44"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(248.4deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="45"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(252deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="46"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(255.6deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="47"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(259.20000000000005deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="48"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(262.8deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="49"]:after {
  background-image: linear-gradient(90deg, #e6e6e6 50%, transparent 50%, transparent), linear-gradient(266.4deg, #ffbd4f 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="50"]:after {
  background-image: linear-gradient(-90deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="51"]:after {
  background-image: linear-gradient(-86.4deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="52"]:after {
  background-image: linear-gradient(-82.8deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="53"]:after {
  background-image: linear-gradient(-79.2deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="54"]:after {
  background-image: linear-gradient(-75.6deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="55"]:after {
  background-image: linear-gradient(-72deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="56"]:after {
  background-image: linear-gradient(-68.4deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="57"]:after {
  background-image: linear-gradient(-64.8deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="58"]:after {
  background-image: linear-gradient(-61.2deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="59"]:after {
  background-image: linear-gradient(-57.6deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="60"]:after {
  background-image: linear-gradient(-54deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="61"]:after {
  background-image: linear-gradient(-50.4deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="62"]:after {
  background-image: linear-gradient(-46.8deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="63"]:after {
  background-image: linear-gradient(-43.199999999999996deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="64"]:after {
  background-image: linear-gradient(-39.6deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="65"]:after {
  background-image: linear-gradient(-36deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="66"]:after {
  background-image: linear-gradient(-32.4deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="67"]:after {
  background-image: linear-gradient(-28.799999999999997deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="68"]:after {
  background-image: linear-gradient(-25.200000000000003deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="69"]:after {
  background-image: linear-gradient(-21.599999999999994deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="70"]:after {
  background-image: linear-gradient(-18deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="71"]:after {
  background-image: linear-gradient(-14.399999999999991deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="72"]:after {
  background-image: linear-gradient(-10.799999999999997deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="73"]:after {
  background-image: linear-gradient(-7.200000000000003deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="74"]:after {
  background-image: linear-gradient(-3.599999999999994deg, #fff579 50%, transparent 50%, transparent), linear-gradient(270deg, #fff579 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="75"]:after {
  background-image: linear-gradient(0deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="76"]:after {
  background-image: linear-gradient(3.600000000000009deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="77"]:after {
  background-image: linear-gradient(7.200000000000003deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="78"]:after {
  background-image: linear-gradient(10.799999999999997deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="79"]:after {
  background-image: linear-gradient(14.400000000000006deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="80"]:after {
  background-image: linear-gradient(18deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="81"]:after {
  background-image: linear-gradient(21.60000000000001deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="82"]:after {
  background-image: linear-gradient(25.200000000000003deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="83"]:after {
  background-image: linear-gradient(28.799999999999997deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="84"]:after {
  background-image: linear-gradient(32.400000000000006deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="85"]:after {
  background-image: linear-gradient(36deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="86"]:after {
  background-image: linear-gradient(39.599999999999994deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="87"]:after {
  background-image: linear-gradient(43.20000000000002deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="88"]:after {
  background-image: linear-gradient(46.80000000000001deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="89"]:after {
  background-image: linear-gradient(50.400000000000006deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="90"]:after {
  background-image: linear-gradient(54deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="91"]:after {
  background-image: linear-gradient(57.599999999999994deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="92"]:after {
  background-image: linear-gradient(61.20000000000002deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="93"]:after {
  background-image: linear-gradient(64.80000000000001deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="94"]:after {
  background-image: linear-gradient(68.4deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="95"]:after {
  background-image: linear-gradient(72deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="96"]:after {
  background-image: linear-gradient(75.6deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="97"]:after {
  background-image: linear-gradient(79.20000000000002deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="98"]:after {
  background-image: linear-gradient(82.80000000000001deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="99"]:after {
  background-image: linear-gradient(86.4deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_circle[data-progress="100"]:after {
  background-image: linear-gradient(90deg, #38d641 50%, transparent 50%, transparent), linear-gradient(270deg, #38d641 50%, #e6e6e6 50%, #e6e6e6);
}
.progress_steps {
  counter-reset: step;
  position: relative;
}
.progress_steps li {
  float: left;
  position: relative;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  min-width: 120px;
}
@media only screen and (max-width: 800px) {
  .progress_steps li {
    min-width: 120px;
  }
}
@media only screen and (max-width: 600px) {
  .progress_steps li {
    min-width: 100px;
  }
}
.progress_steps li:before {
  content: counter(step);
  counter-increment: step;
  display: block;
  background: #fff;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.progress_steps li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #b1c5dd;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progress_steps li:first-child:after {
  display: none;
}
.progress_steps li.active:after {
  background: #48b34e;
}
.progress_steps li.active:before {
  border-color: #48b34e;
  background: #48b34e;
  color: #fff;
}
.main_menu {
  position: relative;
}
.main_menu ul li a {
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.main_menu ul li a:hover {
  background: rgba(255,255,255,0.1);
}
.main_menu ul li.current a {
  background: #b1c5dd;
}
.preview_landingpage {
  width: 100%;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 0 5px 10px 5px rgba(62,86,128,0.1);
  -webkit-box-shadow: 0 5px 10px 5px rgba(62,86,128,0.1);
  box-shadow: 0 5px 10px 5px rgba(62,86,128,0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.preview_landingpage .section {
  width: 100%;
  float: left;
  font-size: 1rem;
  position: relative;
}
.preview_landingpage .section .content_wrap {
  padding: 0 15px;
}
.preview_landingpage .section a {
  position: relative;
  border: none;
  color: inherit;
  display: block;
  text-decoration:none;
  word-break:break-word;
}
.preview_landingpage .section a img {
  border: none;
  display: block;
}
.preview_landingpage .section a:after {
  content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: rgba(255,255,255,0.3);
  border: 1px dashed #48b34e;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
  display: block;
}
.preview_landingpage .section a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.preview_landingpage .section .title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0a498e;
  text-align: center;
}
.preview_landingpage .header {
  background: #f2f2f2;
  padding: 10px 0;
}
.preview_landingpage .header .header_text {
  float: left;
  color: #0a498e;
}
.preview_landingpage .header .header_text .title {
  font-size: 1.4rem;
}
.preview_landingpage .header .header_cta {
  float: right;
  pointer-events: none;
}
.preview_landingpage .header .header_cta .button {
  font-size: 0.8rem;
  padding: 8px 14px;
  color: #0a498e;
  margin-top: 5px;
}
.preview_landingpage .header .header_cta .button:first-child {
  background: #fed414;
  margin-right: 10px;
}
.preview_landingpage .header .header_cta .button:last-child {
  border: 1px solid #0a498e;
  background: #f2f2f2;
}
.preview_landingpage .cover {
  background: #0e5db4;
  padding: 80px 0;
}
.azul{
  background-color: #0e5db4!important;
}
.verde{
  background-color: #a4ec70!important;
}
.morado{
  background-color: #c865ea!important;
}
.cyan{
  background-color: #2ab4d5!important;
}
.aqua{
  background-color: #3fd5bd!important;
}
.rosa{
  background-color: #f267b3!important;
}
.preview_landingpage .cover .wrap_text {
  max-width: 320px;
  color: #fff;
}
.preview_landingpage .cover .wrap_text .title {
  color: #fff;
  text-align: left;
}
.preview_landingpage .cover_cedula {
  background: #0a498e;
  padding: 10px 0;
}
.preview_landingpage .cover_cedula .wrap_ced {
  max-width: 400px;
  float: left;
}
.preview_landingpage .cover_cedula .wrap_ced ul li {
  float: left;
  color: #fff;
}
.preview_landingpage .cover_cedula .wrap_ced ul li:last-child {
  margin-left: 10px;
}
.preview_landingpage .cover_cedula .wrap_ced ul li strong {
  display: block;
}
.preview_landingpage .cover_cedula .wrap_img {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.preview_landingpage .promocion {
  padding: 60px 0;
}
.preview_landingpage .promocion img {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
}
.preview_landingpage .promocion .title {
  color: #f9162d;
  margin-bottom: 20px;
}
.preview_landingpage .promocion .description {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
.preview_landingpage .promocion .description strong {
  color: #f9162d;
  font-weight: 700;
}
.preview_landingpage .agenda {
  padding: 60px 0;
  background: #f2f2f2;
}
.preview_landingpage .agenda .title {
  text-align: center;
}
.preview_landingpage .agenda img {
  margin: 0 auto;
  max-width: 480px;
  display: block;
  margin-top: 20px;
}
.preview_landingpage .servicios {
  padding: 40px 0;
}
.preview_landingpage .servicios .content_wrap {
  margin-bottom: 40px;
}
.preview_landingpage .servicios .content_wrap:last-child {
  margin-bottom: 0;
}
.preview_landingpage .servicios .title {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.4rem;
}
.preview_landingpage .servicios .description {
  margin-bottom: 20px;
}
.preview_landingpage .servicios img {
  margin: 0 auto;
}
.preview_landingpage .servicios ul li {
  position: relative;
  margin-bottom: 5px;
}
.preview_landingpage .servicios ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #0a498e;
  display: inline-block;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.preview_landingpage .mas_informacion {
  padding: 60px 0;
  background: #f2f2f2;
}
.preview_landingpage .mas_informacion .title {
  margin: 40px 0 10px 0;
}
.preview_landingpage .mas_informacion .description {
  text-align: center;
}
.preview_landingpage .mas_informacion .semi_input,
.preview_landingpage .mas_informacion .semi_submit {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin-bottom: 7px;
  padding: 7px 5px;
}
.preview_landingpage .mas_informacion .semi_submit {
  background: #fed414;
  text-align: center;
  font-weight: 600;
  color: #0a498e;
}
.preview_landingpage .educacion {
  padding: 25px 0;
}
.preview_landingpage .educacion .title {
  margin-bottom: 20px;
}
.preview_landingpage .educacion .description {
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.preview_landingpage .educacion ul {
  max-width: 380px;
  margin: 0 auto;
}
.preview_landingpage .educacion ul li {
  position: relative;
  margin-bottom: 5px;
}
.preview_landingpage .educacion ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #0a498e;
  display: inline-block;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.preview_landingpage .contactanos {
  padding: 40px 0;
  background: #0e5db4;
}
.preview_landingpage .contactanos .title {
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}
.preview_landingpage .contactanos ul li {
  margin-bottom: 15px;
  color: #fff;
  max-width: 230px;
  position: relative;
  padding-left: 30px;
}
.preview_landingpage .contactanos ul li img {
  position: absolute;
  top: 0;
  left: -30px;
}
.preview_landingpage .creditos {
  padding: 20px 0;
}
.preview_landingpage .creditos .description {
  text-align: center;
}
#login .content_wrap {
  position: relative;
}
@media only screen and (max-width: 600px) {
  #login .content_wrap {
    padding: 0 10px;
  }
}
#login form {
  max-width: 370px;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 10px;
}
@media only screen and (max-width: 600px) {
  #login form {
    padding: 25px 10px;
  }
}
#login form h1 {
  text-align: center;
  margin-bottom: 40px;
}
#login form .row {
  margin-bottom: 20px;
}
#login form label[for="recordar"],
#login form .input_switch {
  float: left;
}
#login form label[for="recordar"] {
  padding: 3px 0 0 10px;
  margin-bottom: 0;
}
#login form .olvide {
  margin-right: 25px;
}
@media only screen and (max-width: 600px) {
  #login form .olvide {
    margin-right: 0;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  #login form .button {
    margin: 0 auto;
    display: table;
  }
}
#inicio {
  padding: 40px 0;
}
#inicio .section_row {
  margin-bottom: 30px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
}
#inicio .box {
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#inicio .box .title {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  font-weight: 600;
}
#inicio .box .count {
  padding: 20px 20px 0 20px;
  text-align: center;
  font-size: 7rem;
  line-height: 100%;
}
#inicio .box .description {
  text-align: center;
  padding: 15px 20px 20px 20px;
}
#inicio .box .roles {
  padding: 20px 0;
  display: table;
  width: 100%;
}
#inicio .box .roles li {
  text-align: center;
  display: table-cell;
  font-size: 1.4rem;
  padding: 10px;
}
#inicio .box .roles li span {
  display: block;
  font-weight: 600;
  font-size: 4rem;
  line-height: 100%;
}
#inicio .box .content {
  padding: 20px;
  overflow: hidden;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#inicio .box .content .span2:last-child {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#inicio .box .content .span2:last-child .button:first-child {
  margin-right: 20px;
}
#inicio .box .content .span2 h3,
#inicio .box .content .span2 p {
  text-align: center;
}
#inicio .box .content .span2 h3 {
  font-size: 2rem;
}
#inicio .box .content .span2 p {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
#inicio .box .content .span2 ul {
  display: table;
  margin: 0 auto;
}
#inicio .box .content .span2 ul li {
  font-size: 1rem;
  display: inline-block;
}
#inicio .box .content .span2 ul li:after {
  content: '|';
  margin: 0 10px;
}
#inicio .box .content .span2 ul li:last-child:after {
  display: none;
}
#inicio .box.status_incompleto .count {
  color: #f84d68;
}
#usuarios {
  position: relative;
  padding: 40px 0;
}
#nuevo_usuario {
  padding: 80px 10px;
}
#nuevo_usuario .content_wrap {
  position: relative;
}
@media only screen and (max-width: 600px) {
  #nuevo_usuario .content_wrap {
    padding: 0 10px;
  }
}
#nuevo_usuario form {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  #nuevo_usuario form {
    padding: 25px 10px;
  }
}
#nuevo_usuario form h1 {
  text-align: center;
  margin-bottom: 40px;
}
#nuevo_usuario form .row {
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  #nuevo_usuario form .row {
    margin-bottom: 0;
  }
}
#nuevo_usuario form .button {
  float: right;
}
#formularios {
  padding: 40px 0;
}
#formulario_paso_1,
#formulario_paso_2,
#formulario_paso_3 {
  padding: 140px 0 40px 0;
  margin-left: -120px;
}
#formulario_paso_1 form .submit_step .col1,
#formulario_paso_2 form .submit_step .col1,
#formulario_paso_3 form .submit_step .col1 {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#formulario_paso_1 form .submit_step .col1 a,
#formulario_paso_2 form .submit_step .col1 a,
#formulario_paso_3 form .submit_step .col1 a {
  margin-right: 40px;
}
#formulario_paso_2 .content_wrap form {
  max-width: 780px;
  display: table;
  width: 100%;
  margin: 0 auto;
}
#formulario_paso_2 .content_wrap form fieldset legend {
  position: relative;
}
#formulario_paso_2 .content_wrap form fieldset legend .progress_circle {
  position: absolute;
  left: -50px;
  top: -10px;
}
#formulario_paso_2 .content_wrap form fieldset legend .progress_circle:before {
  background: #f7f8f9;
}
#formulario_paso_3 {
  position: relative;
}
#formulario_paso_3 header.the_form .save_submit .auto_save {
  display: none;
}
#formulario_paso_3 header.the_form .save_submit .button {
  float: right;
}
#formulario_paso_3 .center_box .emoji {
  width: 145px;
  height: 145px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -moz-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  box-shadow: 0 2px 2px 0 rgba(171,174,183,0.3);
  text-align: center;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}
#formulario_paso_3 .center_box .emoji_congratz {
  font-size: 7.5rem;
}
#formulario_paso_3 .center_box h1 {
  font-weight: 900;
}
#formulario_paso_3 .center_box h2 {
  font-weight: 400;
  margin-bottom: 15px;
}
#formulario_paso_3 .center_box h2 span {
  padding: 5px 10px;
  background: #ceffd1;
  color: #48b34e;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-weight: 600;
}
.hora table tbody tr td:first-child{
  padding-left: 0px;
}
.hora table tbody tr td {
    /* position: relative; */
    /* font-size: 1.2rem; */
     padding: 0px;
     background: none;
}
.hora table tbody {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hora table tbody tr {
     border-bottom: none;
}




/* Modificaciones */

legend{
  border-bottom:none !important;
}

.row{
  margin:0 !important;
}

label{
  font-weight:600;
}

.btn-link{
  color:#B1C5DD;
}

.btn-link:hover{
  border:none;
}

table td.am-pm button{
  background:#546981;
  color:white;
  border:none;
}

table td.am-pm button:hover, table td.am-pm button:focus{
  background:#5d7a9c;
  color:white;
}

table tbody tr td:first-child::before{
  display: none;
}

form .count_limit{
  width:70px;
  text-align: center;
}

header.the_platform nav.main_menu a{

  text-decoration: none;
}

a.button{
  text-decoration: none;
}

.row.title-w-search{
  margin: 40px 0 !important;
}
#formularios{
  padding-top: 0; 
}

.submit_step a:hover{
text-decoration: none;
}


/*Nuevo upload*/

form .preview .selected {
  overflow:hidden;
}

.drag_drop{
  position:relative;
}

.drag_drop .btn-file{
  position:absolute;
  width:100%;
  height: 100%;
  opacity:0;
  left:0;
  top:0;
}

.drag_drop .progress{
  margin-bottom: 10px;
  margin-top:0;
}

.drag_drop.drag_drop_uploading::before{

  display: none;
}

button.btn-primary, button.btn-default{
  border:none;
  text-shadow:none;
  border-radius:14px;
  padding: 6px 20px;
  font-weight:500;
}

button.btn-primary{
  background:#48B34E;
  box-shadow:none;
}

button.btn-primary:hover{
  background:#38D641;
}

button.btn-default{
  background:white;
}

.progress .progress-bar{
  background:#48B34E;
  color:#7c7c7c;
}

#pdf{
  margin-left: -120px;
}
#printBtn{
  margin-bottom:10px;
}
@media print {
  body * {
      -webkit-print-color-adjust: exact !important; 
  }

  #printBtn {
      visibility: hidden !important;
  }
}

#form-doctors .form-horizontal .control-label{
  text-align: left;
}
.section-container{
  margin:20px;
}